<div class="padding-left">
  <div class="social-edit"  id="sn">
    <h3 id="app-responsive-component-profile"></h3>
    <form>
      <div class="row">
        <div id="app-responsive-component-profile-first" class="col-lg-6">
          <span class="pf-title"></span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="" id="" value=""/>
          </div>
        </div>
        <div id="app-responsive-component-profile-second" class="col-lg-12">
          <span class="pf-title"></span> 
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="" id="" value=""/>
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="display:none; padding:0">
        <a (click)="buttonPressed($event)" class="post-job-btn" style="float:right" ng-disabled="false">UPDATE</a>
      </div>
    </form>
  </div>
  <div class="social-edit"  id="sn">
    <h3>Address</h3>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <span class="pf-title">Address</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="4632 1/2 Hollywood Boulevard" id="address" value=""/>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">City</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="Loas Angeles" id="city" value=""/>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">State</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="California" id="state" value=""/>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Country</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="USA" id="country" value=""/>
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="display:none; padding:0">
        <a (click)="buttonPressed($event)" class="post-job-btn" style="float:right" ng-disabled="false">UPDATE</a>
      </div>
    </form>
  </div>
  <div class="social-edit"  id="sn">
    <h3>Social</h3>
    <form>
      <div class="row" id="app-responsive-social-div">
        <div class="col-lg-6">
          <span class="pf-title">Facebook</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="www.facebook.com/sample" id="urlFACEBOOK" value=""/>
            <i class="fa fa-facebook"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Twitter</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="www.twitter.com/sample" id="urlTWITTER" value=""/>
            <i class="fa fa-twitter"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Linkedin</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="www.linkedin.com/sample" id="urlLINKEDIN" value=""/>
            <i class="la la-linkedin"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Website</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="www.myDomain.com/sample" id="urlWEBSITE" value=""/>
            <i class="la la-external-link-square"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Phone</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="+1 609 963 5896" id="phoneNumber" value=""/>
            <i class="la la-phone"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Mail</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="mail@mail.com" id="email" value=""/>
            <i class="la la-envelope"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="display:none; padding:0">
        <a (click)="buttonPressed($event)" class="post-job-btn" style="float:right" ng-disabled="false">UPDATE</a>
      </div>
    </form>
  </div>
</div>