h3:hover {
    background-color: #fb236a;
    padding-left:46px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin: 0;
    border-top: 1px solid #edeff7;
    border-bottom: 0px;
}
ul.results {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p.thiccc {
    font-weight: bold;
}

.job-listings-sec {
    float: left;
    width: 100%;
}
.job-listing {
    float: left;
    width: 100%;
    display: table;
    border-bottom: 1px solid #e8ecec;
    padding: 20px 0;
    background: #ffffff;
    border-left: 2px solid #ffffff;
    padding-right: 30px;
}
.job-title-sec {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
}
.c-logo {
    float: left;
    width: 130px;
    text-align: center;
}
.c-logo img {
    float: none;
    display: inline-block;
    max-width: 100%;
}
.job-title-sec h3 {
    display: table;
    font-size: 16px;
    font-family: Open Sans;
    color: #202020;
    margin: 0;
        margin-bottom: 0px;
    margin-bottom: 7px;
    margin-top: 3px;
}
.job-title-sec span {
    float: left;
    font-family: Open Sans;
    font-size: 14px;
    margin-top: 1px;
}
.job-lctn {
    display: table-cell;
    vertical-align: middle;
    font-family: open Sans;
    font-size: 15px;
    color: #888888;
    line-height: 23px;
    width: 25%;
}
.job-lctn i {
    font-size: 24px;
    float: left;
    margin-right: 7px;
}
.fav-job {
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    color: #888888;
    line-height: 10px;
    text-align: center;
    cursor: pointer;
}
.job-is {
    display: table-cell;
    vertical-align: middle;
    font-family: Open Sans;
    font-size: 12px;
    border: 1px solid;
    float: right;
    padding: 7px 0;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;

    width: 108px;
    margin: 9px 0;
    text-align: center;
}
.ft.fill {
    background: #8b91dd;
}
.fill.pt {
    background: #7dc246;
}
.fill.fl {
    background: #fb236a;
}
.fill.tp {
    background: #26ae61;
}
.job-is.ft,
.job-list-modern .job-is.ft{
    color: #8b91dd;
    border-color: #8b91dd;
}
.job-is.pt,
.job-list-modern .job-is.pt{
    color: #7dc246;
    border-color: #7dc246;
}
.job-is.fl,
.job-list-modern .job-is.fl{
    color: #fb236a;
    border-color: #fb236a;
}
.job-is.tp,
.job-list-modern .job-is.tp{
    color: #26ae61;
    border-color: #26ae61;
}
.job-listing:hover {
    border-left-color: #8b91dd;
    
    -webkit-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    -ms-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);

    z-index: 1;
    position: relative;
}
.job-listing:last-child {
    border-bottom-color: #ffffff;
}
.heading.light h2 {
    color: #ffffff;
}
.heading.light span {
    color: #ffffff;
}
.layer.color.light::before {
    background: #8b91dd;
    opacity: 0.9;
}
.reviews {
    float: left;
    width: 100%;
    background: #ffffff;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    padding: 30px 30px;
    position: relative;
    margin-top: 47px;
}
.reviews img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    width: 100px;
    height: 100px;
    margin-top: -75px;
}
.reviews h3 {
    float: left;
    width: 100%;
    font-family: Open Sans;
    font-size: 18px;
    color: #202020;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.reviews h3 span {
    font-family: Open Sans;
    font-size: 14px;
    color: #888888;
    margin-left: 10px;
}
.reviews p {
    float: left;
    width: 100%;
    margin: 0;
        margin-bottom: 0px;
    font-family: Open Sans;
    font-size: 14px;
    color: #888888;
    letter-spacing: 0px;
    line-height: 24px;
    margin-bottom: 15px;
}
.reviews::before {
    position: absolute;
    right: 40px;
    top: 20px;
    content: '“';
    font-family: Quicksand;
    font-size: 100px;
    font-weight: bolder;
    
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);

    line-height: 30px;
    color: #8b91dd;
}
.reviews-sec {
    float: left;
    width: 100%;
}

.comp-sec {
    float: left;
    width: 100%;
}
.company-img {
    float: left;
    width: 20%;
    text-align: center;
}
.company-img a {
    float: left;
    width: 100%;
}
.company-img a img {
    float: none;
    display: inline-block;
    max-width: 100%;
}