<div class="social-edit" id="sn">
  <form style="padding-left:0px">
    <div class="edu-history-sec" style="padding-left: 0px">
      <div class="edu-history">
        <div class="edu-hisinfo">
          <div class="row" style="padding:20px; padding-bottom:0px">
            <div class="col-lg-10">
              <div class="pf-field">
                <input type="text" placeholder="Search" style="margin-bottom: 0"
                  [(ngModel)]="searchUserQuery" [ngModelOptions]="{standalone: true}"/>
              </div>
            </div>
            <div class="col-lg-2" style="padding: 3px 20px 0px 20px;">
              <a class="post-job-btn" style="color: #FFFFFF; margin: auto" (click)="submitSearchQuery()"><i class="la la-search"></i></a>
              <!-- <button type="submit" (click)="submitSearchQuery()">
                
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <div class="job-listings-sec" id="serchQueryResults" ng-controller="cardsListController"> -->
<!-- <div class="job-listings-sec"> -->
<div class="job-list-modern" id="serchQueryResults" ng-controller="cardsListController">
  <div class="job-listings-sec no-border">
    <div class="job-listing wtabs" *ngFor="let item of res; let myIndex = index">
        <div class="job-title-sec" >
          <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
          <h3><a href="#" title="">{{ item.title }}</a></h3>
          <span>{{ item.employerName }}</span>
          <!-- <div class="job-lctn"><i class="la la-map-marker"></i>{{  }}</div> -->
        </div>
        
        <div class="job-style-bx">
          <!-- <span class="job-is ft ">Full time</span>
          <span class="fav-job"><i class="la la-heart-o"></i></span>
          <i>5 months ago</i> -->
          <button [routerLink]="['/job/', res[myIndex].jobID]">View</button>
        </div> 
      </div>    
      <!-- <ul class="results">
          <li *ngFor="" class="job-listing">
              <p class="job-title-sec" >Title: {{res[myIndex].title}}</p>
              <p class="job-lctn" >
                Description: {{res[myIndex].description}}... <br />
                ID: {{res[myIndex].jobID}} <br />
              </p>

            <form [routerLink]="['/job/', res[myIndex].jobID]" routerLinkActive="active" >
              <input type="submit" value="View"/>
            </form>
          </li>
        </ul> -->
    </div>
  
    <!-- <div class="pagination">
      <ul>
        <li class="prev"><a href=""><i class="la la-long-arrow-left"></i> Prev</a></li>
        <li><a href="">1</a></li>
        <li class="active"><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><span class="delimeter">...</span></li>
        <li><a href="">14</a></li>
        <li class="next"><a href="">Next <i class="la la-long-arrow-right"></i></a></li>
      </ul>
    </div>
   </div> -->
  <!-- <ng-template job-search-host></ng-template> -->
  <!-- <li ng-repeat="x in final_results"><p>{{x}}</p></li> -->
  <!-- <p ng-repeat="x in res">{{x}}</p> -->
  
</div> 