<p id="test-ID" value="Applicant" style="display:none"></p>

<app-top-bar></app-top-bar>

		

	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" class="parallax scrolly-invisible no-parallax"></div>
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
							<div class="inner-header" id="responsive-title">
									<h3>Job</h3>
								</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	

<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 column">
          <div class="job-single-sec style3">
            <div class="job-head-wide">
              <div class="row">
                <div class="col-lg-8">
                    <div *ngIf="msg != undefined">
                        <span>{{ msg }}</span>
                    </div>
                  <div class="job-single-head3">
                    <!-- <div class="job-thumb"> <img src="http://placehold.it/120x95" alt="" /><span>12 Open Position</span> </div> -->
                    <div class="job-single-info3">
                      <h3>{{ title }}</h3>
                      <span style="margin-bottom: 0px;"><i class="la la-building"></i>{{ companyName }}</span>
                      <ul class="tags-jobs">
                        <li><i class="la la-map-marker"></i>{{ location }}</li>
                        <!-- <li><i class="la la-file-text"></i> Applications 1</li> -->
                        <li><i class="la la-calendar-o"></i> Posted {{ created }} Days Ago ({{created2}})</li>
                        <!-- <li><i *ngIf="started" class="la la-calendar-o"></i> Start Date: {{ startdate }}</li>
                        <li><i *ngIf="ended" class="la la-calendar-o"></i> End Date: {{ enddate }}</li> -->

                        <!-- <li><i class="la la-eye"></i> Views 5683</li> -->
                      </ul>
                    </div>
                  </div><!-- Job Head -->
                </div>
                <div class="col-lg-4">
                  <a class="apply-thisjob" href="{{url}}" title="" target="blank_"><i class="la la-eye"></i>View on {{main_source}}</a> 
                  <a *ngIf="can_compare" class="apply-thisjob" (click)="scroll('comps')" title=""  style="margin-top: 10px"><i class="la la-eye"></i>View Comparison</a> 

                  <!-- <a *ngIf="canEdit" class="apply-thisjob" (click)="goToEdit()" title="" ><i class="la la-pencil"></i>Edit this job</a> 

                  <a *ngIf="canAcceptJob" class="apply-thisjob" (click)="acceptJob()" title="" style="margin-top: 5px;"><i class="la la-check"></i>Accept this job</a>
                  <a *ngIf="!canEdit && canApply" class="apply-thisjob" (click)="apply(event)" title="" style="margin-top: 5px;"><i class="la la-paper-plane"></i>Apply for job</a>
                  <a *ngIf="!canEdit && canDeApply" class="apply-thisjob" (click)="deapply($event)" title="" style="margin-top: 5px;"><i class="la la-close"></i>Remove Application</a>
                  <a *ngIf="isEmployee" class="apply-thisjob" (click)="addToResume()" title="" style="margin-top: 5px;"><i class="la la-add"></i>Add to Resume</a>
                  <a class="apply-thisjob" (click)="viewEmp()" title="" style="margin-top: 5px; margin-bottom: 5px"><i class="la la-eye"></i>View Employer</a> -->
                  <!-- <div class="apply-alternative">
                    <a href="#" title=""><i class="la la-linkedin"></i> Apply with Linkedin</a>
                    <span><i class="la la-heart-o"></i> Shortlist</span> apply($event)
                  </div> -->
                </div>
              </div>
            </div>
            <div class="job-wide-devider">                
              <div class="row">
                <div class="col-lg-12 column">		
                  <div class="job-details">
                    <h3 style="font-weight: 700">Job Description</h3>
                    <!-- <div class="row">
                      <div clas
                    </div> -->
                    <!-- <markdown class="desc"  [data]="description"></markdown> -->
                    <!-- <p style="width:100%; white-space: pre-wrap;">{{ description }}</p> -->
                    <div [innerHtml]="description" class="desc" id="desc"></div>
                    <!-- <p style="width:100%; white-space: pre-wrap;">{{ description }}</p> -->
                  </div>
                  <!-- <div class="share-bar">
                    <span>Share</span><a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a>
                  </div> -->
                  <!-- <div class="extra-job-info">
                    <span><i class="la la-clock-o"></i><strong>35</strong> Days</span>
                    <span><i class="la la-file-text"></i><strong>300-500</strong> Application</span>
                    <span><i class="la la-search-plus"></i><strong>35697</strong> Displayed</span>
                  </div> -->

                  
        </div>
      </div>
    </div>
    <div class="job-wide-devider">                
      <div class="row">
        <div class="col-lg-12 column" id="comps">
          <div class="job-details">	
            <h3 style="font-weight: 700">Comparison</h3>
            <h3>What is this?</h3><p>These are percent similarity between each of your jobs listed on your resumes, and the job you are currently viewing</p>
            <p>NOTE: This model is being trained and updated every day, so percentages may be inaccurate from time to time.</p>
            <li *ngFor="let item of order_by_2(comparisons).reverse(); let myIndex = index" class="job-listing">
              <p>{{ item[0] }}</p>
            </li>
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
  </div>
  </div>
  </div>
</section>
<section>
  <div class="block no-padding">
    <div class="container">
       <div class="row no-gape">
        <div class="col-lg-1 column"></div>
        <div class="col-lg-10 column">
          <router-outlet ></router-outlet>
        </div>
        <div class="col-lg-1 column"></div>
       </div>
    </div>
  </div>
</section>

<app-bottom-bar></app-bottom-bar>
