<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
				 	<aside class="col-lg-3 column border-right">
				 		<div class="widget">
				 			<div class="tree_widget-sec">
				 				<ul>
									<li class="inner-child">
				 						<a [routerLink]="['/employer/manage-jobs']" title=""><i class="la la-briefcase"></i>Manage Jobs</a>
				 					</li>
				 					<li class="inner-child">
				 						<a [routerLink]="['/employer']" title=""><i class="la la-file-text"></i>Company Profile</a>
				 					</li>
				 					<li class="inner-child">
				 						<a href="#" title=""><i class="la la-lock"></i>Settings</a>
				 					</li>
				 				</ul>
				 			</div>
				 		</div>
				 	</aside>
				 	<div class="col-lg-9 column">
				 		<div class="padding-left">
					 		<div class="manage-jobs-sec">
					 			<h3>Manage Jobs</h3>
								<div class="col-lg-12">
									<button [routerLink]="['/employer/post-jobs']">Create Job</button>
								</div>
						 		<table>
						 			<thead>
						 				<tr>
						 					<td>Job Title</td>
						 					<td>Resume Pool</td>
						 					<td>Date Created</td>
						 					<td>Job Type</td>
						 					<td>Action</td>
						 				</tr>
						 			</thead>
						 			<tbody id="jobs">
						 				<tr *ngFor="let item of dataForList; let myIndex = index">
						 					<td>
						 						<div class="table-list-title">
						 							<h3><a [routerLink]="['/employer/candidate-list']" [queryParams]="{job: item.folder}" title="">{{ item.title }}</a></h3>
						 							<span><i class="la la-map-marker"></i>{{ item.location }}</span>
						 						</div>
						 					</td>
						 					<td>
						 						<span class="applied-field">{{ item.counts }}</span>
						 					</td>
						 					<td>
						 						<span>{{ item.date_created }}</span>
						 					</td>
						 					<td>
						 						<span class="status">{{ item.type }}</span>
						 					</td>
						 					<td>
						 						<ul class="action_job">
						 							<li><span>View Job</span><a	[routerLink]="['/employer/candidate-list']" [queryParams]="{job: item.folder}" title=""><i class="la la-eye"></i></a></li>
						 							<li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
						 							<li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
						 						</ul>
						 					</td>
						 				</tr>
						 				

						 			</tbody>
						 		</table>
					 		</div>
					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>
