<app-top-bar ></app-top-bar>
<div class="theme-layout" id="scrollup">



	<section>
		<div class="block no-padding">
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="main-featured-sec">
							<ul class="main-slider-sec">
								<li class="slideHome"><img src="https://images.pexels.com/photos/948887/pexels-photo-948887.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=800&w=1600"></li>
							</ul>
							<div class="job-search-sec">
								<div class="job-search style2">
									<h3>Search Smart Resumes</h3>
									<span>Enter your candidate's name below to access their resume</span>
									<form>
										<div class="row">
											<div class="col-lg-11 col-md-5 col-sm-5 col-xs-12">
												<div class="job-field">
													<input type="text" placeholder="Search Full Name" [(ngModel)]="term" [ngModelOptions]="{standalone: true}" (keydown)="keyDown($event)"/>
													<i class="la la-keyboard-o"></i>
												</div>
											</div>

											<!--This is the location bar

											<div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
												<div class="job-field">
													<select data-placeholder="City, province or region" class="chosen-city">
														<option>Istanbul</option>
														<option>New York</option>
														<option>London</option>
														<option>Russia</option>
													</select>
													<i class="la la-map-marker"></i>
												</div>
											</div> -->

											<div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
												<button type="button" (click)="search()"><i class="la la-search"></i></button>
											</div>
										</div>
									</form>
									<!-- <div class="or-browser">
										<span>Advanced Options: </span>
										<a href="#" title="">Location</a>
										<a href="#" title="">Skill Set</a>
										<a href="#" title="">College</a>
									</div> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>How It Works</h2>
						</div><!-- Heading -->
						<div class="how-to-sec">
							<div class="how-to">
								<span class="how-icon"><i class="la la-user"></i></span>
								<h3>Create a Smart Resume</h3>
								<p>Create your personalized resume by signing up, where you will be able to easily build your resume.</p>
							</div>
							<div class="how-to">
								<span class="how-icon"><i class="la la-file-archive-o"></i></span>
								<h3>Apply For the Job</h3>
								<p>By clicking the share icon on your resume, you will be able to share it instantly with any potential employer via email or with a link</p>
							</div>
							<div class="how-to">
								<span class="how-icon"><i class="la la-list"></i></span>
								<h3>Get Hired</h3>
								<p>The smart resume is different, which is why employers like it. It shows more about you than any piece of paper could.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block double-gap-top double-gap-bottom">
			<div data-velocity="-.1" style="background: url(https://shotstash.com/wp-content/uploads/edd/2018/04/180315_shotstash-6.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="simple-text-block">
							<h3>Get your Next Job with a Smart Resume!</h3>
							<span>Your resume will be ready in minutes with Krow's resume assistant!</span>
							<a href="/register" title="">Create a resume</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>Career Tips</h2>
							<span>We want to help you get the job</span>
						</div><!-- Heading -->
						<div class="blog-sec">
							<div class="row">
								<div class="col-lg-4">
									<div class="my-blog">
										<div class="blog-thumb">
											<a href="https://www.usatoday.com/story/money/careers/2018/11/13/resume-tips-heres-when-you-should-take-past-internships-off-list/1944116002/" title=""><img src="https://i.imgur.com/RggfeCC.jpg" alt="" /></a>
											<div class="blog-date">
												<a href="#" title="">2018 <i>November 13</i></a>
											</div>
										</div>
										<div class="blog-details">
											<h3><a href="#" title="">When Should I Take Past Internships Off My Resume?</a></h3>
											<p> And How they can Sabotage your Chances</p>
											<a href="https://www.usatoday.com/story/money/careers/2018/11/13/resume-tips-heres-when-you-should-take-past-internships-off-list/1944116002/" title="">Read More <i class="la la-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="my-blog">
										<div class="blog-thumb">
											<a href="https://www.nature.com/articles/d41586-018-07427-5" title=""><img src="https://i.imgur.com/o4oIWBR.jpg" alt="" /></a>
											<div class="blog-date">
												<a href="#" title="">2018 <i>November 14</i></a>
											</div>
										</div>
										<div class="blog-details">
											<h3><a href="#" title="">How To Make Undergraduate Research Worthwhile</a></h3>
											<p>Use It to Leverage For That Dream Job</p>
											<a href="https://www.nature.com/articles/d41586-018-07427-5" title="">Read More <i class="la la-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="my-blog">
										<div class="blog-thumb">
											<a href="https://www.cnbc.com/2018/11/14/amazon-has-promise-to-create-50000-new-jobsheres-how-to-land-one.html" title=""><img src="https://i.imgur.com/DORSoMZ.jpg" alt="" /></a>
											<div class="blog-date">
												<a href="#" title="">2018 <i>November 14</i></a>
											</div>
										</div>
										<div class="blog-details">
											<h3><a href="https://www.cnbc.com/2018/11/14/amazon-has-promise-to-create-50000-new-jobsheres-how-to-land-one.html" title="">Amazon Says It Will Bring 50,000 Jobs to Its Two New Headquarters</a></h3>
											<p>Here's How to Land a Job at the Company</p>
											<a href="#" title="">Read More <i class="la la-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="subscription-sec">
							<div class="row">
								<div class="col-lg-12">
									<h3>Sign Up for Our Newsletter</h3>
									<span>Keep up to date with any changes by signing up to our newsletter</span>
									<button style="float: left; margin-top:10px" onclick="location.href='https://mailchi.mp/e7434ed41897/krownetwork';">Go<i class="la la-paper-plane"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


<!--
	<section>
		<div class="block">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1920x1000) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible layer color light"></div><!- - PARALLAX BACKGROUND IMAGE - ->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading light">
							<h2>Kind Words From Happy Candidates</h2>
							<span>What other people thought about the service provided by JobHunt</span>
						</div><!- - Heading - ->
						<div class="reviews-sec" id="reviews-carousel">
							<div class="col-lg-6">
								<div class="reviews">
									<img src="http://placehold.it/101x101" alt="" />
									<h3>Augusta Silva <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
								</div><!- - Reviews - ->
							</div>
							<div class="col-lg-6">
								<div class="reviews">
									<img src="http://placehold.it/101x101" alt="" />
									<h3>Ali Tufan <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
								</div><!- - Reviews - ->
							</div>
							<div class="col-lg-6">
								<div class="reviews">
									<img src="http://placehold.it/101x101" alt="" />
									<h3>Augusta Silva <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
								</div><!- - Reviews - ->
							</div>
							<div class="col-lg-6">
								<div class="reviews">
									<img src="http://placehold.it/101x101" alt="" />
									<h3>Ali Tufan <span>Web designer</span></h3>
									<p>Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!  Can’t quite believe the service</p>
								</div><!- - Reviews - ->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

<!--
	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>Companies We've Helped</h2>
							<span>Some of the companies we've helped recruit excellent applicants over the years.</span>
						</div><!- - Heading - ->
						<div class="comp-sec">
							<div class="company-img">
								<a href="#" title=""><img src="http://placehold.it/180x80" alt="" /></a>
							</div><!- - Client  - ->
							<div class="company-img">
								<a href="#" title=""><img src="http://placehold.it/180x80" alt="" /></a>
							</div><!- - Client  - ->
							<div class="company-img">
								<a href="#" title=""><img src="http://placehold.it/180x80" alt="" /></a>
							</div><!- - Client  - ->
							<div class="company-img">
								<a href="#" title=""><img src="http://placehold.it/180x80" alt="" /></a>
							</div><!- - Client  - ->
							<div class="company-img">
								<a href="#" title=""><img src="http://placehold.it/180x80" alt="" /></a>
							</div><!- - Client  - ->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->

<!--
	<section>
		<div class="block">
			<div data-velocity="-.1" style="background: blackish repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!- - PARALLAX BACKGROUND IMAGE - ->
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading">
							<h2>Quick Career Tips</h2>
							<span>Found by employers communicate directly with hiring managers and recruiters.</span>
						</div><!- - Heading - ->
						<div class="blog-sec">
							<div class="row">
								<div class="col-lg-4">
									<div class="my-blog">
										<div class="blog-thumb">
											<a href="#" title=""><img src="http://placehold.it/360x200" alt="" /></a>
											<div class="blog-metas">
												<a href="#" title="">March 29, 2017</a>
												<a href="#" title="">0 Comments</a>
											</div>
										</div>
										<div class="blog-details">
											<h3><a href="#" title="">Attract More Attention Sales And Profits</a></h3>
											<p>A job is a regular activity performed in exchange becoming an employee, volunteering, </p>
											<a href="#" title="">Read More <i class="la la-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="my-blog">
										<div class="blog-thumb">
											<a href="#" title=""><img src="http://placehold.it/360x200" alt="" /></a>
											<div class="blog-metas">
												<a href="#" title="">March 29, 2017</a>
												<a href="#" title="">0 Comments</a>
											</div>
										</div>
										<div class="blog-details">
											<h3><a href="#" title="">11 Tips to Help You Get New Clients</a></h3>
											<p>A job is a regular activity performed in exchange becoming an employee, volunteering, </p>
											<a href="#" title="">Read More <i class="la la-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="my-blog">
										<div class="blog-thumb">
											<a href="#" title=""><img src="http://placehold.it/360x200" alt="" /></a>
											<div class="blog-metas">
												<a href="#" title="">March 29, 2017</a>
												<a href="#" title="">0 Comments</a>
											</div>
										</div>
										<div class="blog-details">
											<h3><a href="#" title="">An Overworked Newspaper Editor</a></h3>
											<p>A job is a regular activity performed in exchange becoming an employee, volunteering, </p>
											<a href="#" title="">Read More <i class="la la-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->
<!--
	<section>
		<div class="block no-padding">
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="simple-text">
							<h3>Contact and FAQs</h3>
							<span>We're here to help. Check out our FAQs, send us an email, or give us feedback!</span>
							<div class="browse-all-cat">
								<a href="#" title="" class="style2 noradius">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="social-links">
							<a href="#" title="" class="fb-color"><i class="fa fa-facebook"></i> Facebook</a>
							<a href="#" title="" class="tw-color"><i class="fa fa-twitter"></i> Twitter</a>
							<a href="#" title="" class="in-color"><i class="la la-instagram"></i> Instagram</a>
							<a href="#" title="" class="gl-color"><i class="la la-google"></i> Google</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="block">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
									<a href="#" title=""><img src="http://placehold.it/178x40" alt="" /></a>
								</div>
								<span>Collin Street West, Victor 8007, Australia.</span>
								<span>+1 246-345-0695</span>
								<span>info@jobhunt.com</span>
								<div class="social">
									<a href="#" title=""><i class="fa fa-facebook"></i></a>
									<a href="#" title=""><i class="fa fa-twitter"></i></a>
									<a href="#" title=""><i class="fa fa-linkedin"></i></a>
									<a href="#" title=""><i class="fa fa-pinterest"></i></a>
									<a href="#" title=""><i class="fa fa-behance"></i></a>
								</div>
							</div><!- - About Widget - ->
						</div>
					</div>
					<div class="col-lg-4 column">
						<div class="widget">
							<h3 class="footer-title">Frequently Asked Questions</h3>
							<div class="link_widgets">
								<div class="row">
									<div class="col-lg-6">
										<a href="#" title="">Privacy & Seurty </a>
										<a href="#" title="">Terms of Serice</a>
										<a href="#" title="">Communications </a>
										<a href="#" title="">Referral Terms </a>
										<a href="#" title="">Lending Licnses </a>
										<a href="#" title="">Disclaimers </a>
									</div>
									<div class="col-lg-6">
										<a href="#" title="">Support </a>
										<a href="#" title="">How It Works </a>
										<a href="#" title="">For Employers </a>
										<a href="#" title="">Underwriting </a>
										<a href="#" title="">Contact Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-2 column">
						<div class="widget">
							<h3 class="footer-title">Find Jobs</h3>
							<div class="link_widgets">
								<div class="row">
									<div class="col-lg-12">
										<a href="#" title="">US Jobs</a>
										<a href="#" title="">Canada Jobs</a>
										<a href="#" title="">UK Jobs</a>
										<a href="#" title="">Emplois en Fnce</a>
										<a href="#" title="">Jobs in Deuts</a>
										<a href="#" title="">Vacatures China</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 column">
						<div class="widget">
							<div class="download_widget">
								<a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
								<a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
			<span>© 2018 Jobhunt All rights reserved. Design by Creative Layers</span>
			<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
		</div>
	</footer>

</div>

-->

<div class="account-popup-area signin-popup-box">
	<div class="account-popup">
		<span class="close-popup"><i class="la la-close"></i></span>
		<h3>User Login</h3>
		<span>Click To Login With Demo User</span>
		<div class="select-user">
			<span>Candidate</span>
			<span>Employer</span>
		</div>
		<form>
			<div class="cfield">
				<input type="text" placeholder="Username" />
				<i class="la la-user"></i>
			</div>
			<div class="cfield">
				<input type="password" placeholder="********" />
				<i class="la la-key"></i>
			</div>
			<p class="remember-label">
				<input type="checkbox" name="cb" id="cb1"><label for="cb1">Remember me</label>
			</p>
			<a href="#" title="">Forgot Password?</a>
			<button type="submit">Login</button>
		</form>
		<div class="extra-login">
			<span>Or</span>
			<div class="login-social">
				<a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
				<a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</div><!-- LOGIN POPUP -->

<div class="account-popup-area signup-popup-box">
	<div class="account-popup">
		<span class="close-popup"><i class="la la-close"></i></span>
		<h3>Sign Up</h3>
		<div class="select-user">
			<span>Candidate</span>
			<span>Employer</span>
		</div>
		<form>
			<div class="cfield">
				<input type="text" placeholder="Username" />
				<i class="la la-user"></i>
			</div>
			<div class="cfield">
				<input type="password" placeholder="********" />
				<i class="la la-key"></i>
			</div>
			<div class="cfield">
				<input type="text" placeholder="Email" />
				<i class="la la-envelope-o"></i>
			</div>
			<div class="dropdown-field">
				<select data-placeholder="Please Select Specialism" class="chosen">
					<option>Web Development</option>
					<option>Web Designing</option>
					<option>Art & Culture</option>
					<option>Reading & Writing</option>
				</select>
			</div>
			<div class="cfield">
				<input type="text" placeholder="Phone Number" />
				<i class="la la-phone"></i>
			</div>
			<button type="submit">Signup</button>
		</form>
		<div class="extra-login">
			<span>Or</span>
			<div class="login-social">
				<a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
				<a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</div><!-- SIGNUP POPUP -->

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/wow.min.js" type="text/javascript"></script>
<script src="js/slick.min.js" type="text/javascript"></script>
<script src="js/parallax.js" type="text/javascript"></script>
<script src="js/select-chosen.js" type="text/javascript"></script>


<app-bottom-bar></app-bottom-bar>
