<!DOCTYPE html>
<html>

<body>


<div class="theme-layout" id="scrollup">
	
		<div class="responsive-header">
				<div class="responsive-menubar">
					<div class="res-logo"><a href="index.html" title=""><img src="http://placehold.it/178x40" alt="" /></a></div>
					<div class="menu-resaction">
						<div class="res-openmenu">
							<img src="images/icon.png" alt="" /> Menu
						</div>
						<div class="res-closemenu">
							<img src="images/icon2.png" alt="" /> Close
						</div>
					</div>
				</div>
				<div class="responsive-opensec">
					<div class="btn-extars">
						<a *ngIf="isLoggedInB" (click)="bigBtn()" class="post-job-btn" style="color:#ffffff"><i class="fa fa-search-plus" style="color:#ffffff"></i>{{btnText}}</a>
						<ul class="account-btns">
							<li *ngIf="!isLoggedInB" [routerLink]="['/register']" class="signup-popup" style="color:#96a0bd" ><a title=""><i class="la la-key"></i> Sign Up</a></li>
							<li *ngIf="!isLoggedInB" [routerLink]="['/login']" class="signin-popup" style="color:#96a0bd"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
							<li *ngIf="isLoggedInB"  [routerLink]="['/logout']" class="signin-popup" style="color:#96a0bd"><a title=""><i class="la la-external-link-square"></i> Logout</a></li>
						</ul>
					</div><!-- Btn Extras -->
					<div class="responsivemenu">
						<ul>
								<li>
										<a *ngIf="is_applicant && isLoggedInB" [routerLink]="['/applicant']" routerLinkActive="active">Home</a>
										<a *ngIf="!is_applicant && isLoggedInB" [routerLink]="['/employer']" routerLinkActive="active">Home</a>
										<a *ngIf="!is_applicant && !isLoggedInB" [routerLink]="['/']" routerLinkActive="active">Home</a>
								</li>
								<li *ngIf="isLoggedInB">
										<a (click)="goToProfile()" style="color:#96a0bd">Profile</a>
									</li>
									<li [hidden]="!isLoggedInB" class="menu-item-has-children">
											<a style="color: #96a0bd">Jobs</a>
											<ul [hidden]="!is_applicant">
												<li><a [routerLink]="['/applicant/completed-jobs']" routerLinkActive="active">Completed Jobs</a></li>
												<li><a [routerLink]="['/applicant/terminated-jobs']" routerLinkActive="active">Terminated Jobs</a></li>
												<li><a [routerLink]="['/applicant/in-progress-jobs']" routerLinkActive="active">In-Progress Jobs</a></li>
												<!-- <li><a [routerLink]="['/employer/available-jobs']">Available Jobs</a></li> -->
												<li><a [routerLink]="['/applicant/requested-jobs']" routerLinkActive="active">Requested Jobs</a></li>
												<li><a [routerLink]="['/applicant/hire-requests']" routerLinkActive="active">Hire Requests</a></li>
				
											</ul>
											<ul [hidden]="is_applicant">
												<li><a [routerLink]="['/employer/completed-jobs']" routerLinkActive="active">Completed Jobs</a></li>
												<li><a [routerLink]="['/employer/terminated-jobs']" routerLinkActive="active">Terminated Jobs</a></li>
												<li><a [routerLink]="['/employer/in-progress-jobs']" routerLinkActive="active">In-Progress Jobs</a></li>
												<li><a [routerLink]="['/employer/available-jobs']" routerLinkActive="active">Available Jobs</a></li>
											</ul>
										</li>
							</ul>
					</div>
				</div>
			</div>

    <header class="stick-top">
      <div class="menu-sec">
        <div class="container">
          <div class="logo">
            <a href="http://krownetwork.com/" title="">
              <!-- <img src="{{KROW_HEADER_2}}" alt="" /> -->
              <img src="assets/images/top-bar-logo.png" alt="Krow Network Logo" />
            </a>
          </div><!-- Logo -->
          <div class="btn-extars">
            <!-- <a [routerLink]="['employer-post-jobs']" routerLinkActive="active" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a> -->
            <ul class="account-btns" *ngIf="isLoggedInB">
              <li *ngIf="isLoggedInB"><a [routerLink]="['/logout']" routerLinkActive="active"  title=""><i class="la la-external-link-square"></i>LogOut</a></li>
              <li *ngIf="!isLoggedInB" ><a [routerLink]="['/login']" routerLinkActive="active"  title="">>Log in</a></li>
            </ul>
          </div><!-- Btn Extras -->
          <nav class="nav">
            <ul>
              <li>
                <a *ngIf="is_applicant" [routerLink]="['/applicant']" routerLinkActive="active">Home</a>
                <a *ngIf="!is_applicant && isLoggedInB" [routerLink]="['/employer']" routerLinkActive="active">Home</a>
                <a *ngIf="!is_applicant && !isLoggedInB" [routerLink]="['/']" routerLinkActive="active">Home</a>
              </li>
              <li>
                <!-- <a role="button" (click)="switchSession()">Switch to {{switchTo}}</a> -->
              </li>
              <li *ngIf="isLoggedInB">
                <a role="button" (click)="goToProfile()" style="color:#ffffff">Profile</a>
              </li>
              <li [hidden]="!isLoggedInB">
                <a style="color: #ffffff">Jobs</a>
                <ul [hidden]="!is_applicant">
                  <li><a [routerLink]="['/applicant/completed-jobs']" routerLinkActive="active">Completed Jobs</a></li>
                  <li><a [routerLink]="['/applicant/terminated-jobs']" routerLinkActive="active">Terminated Jobs</a></li>
                  <li><a [routerLink]="['/applicant/in-progress-jobs']" routerLinkActive="active">In-Progress Jobs</a></li>
                  <!-- <li><a [routerLink]="['/employer/available-jobs']">Available Jobs</a></li> -->
                  <li><a [routerLink]="['/applicant/requested-jobs']" routerLinkActive="active">Requested Jobs</a></li>
                  <li><a [routerLink]="['/applicant/hire-requests']" routerLinkActive="active">Hire Requests</a></li>
  
                </ul>
                <ul [hidden]="!is_applicant">
                  <li><a [routerLink]="['/employer/completed-jobs']" routerLinkActive="active">Completed Jobs</a></li>
                  <li><a [routerLink]="['/employer/terminated-jobs']" routerLinkActive="active">Terminated Jobs</a></li>
                  <li><a [routerLink]="['/employer/in-progress-jobs']" routerLinkActive="active">In-Progress Jobs</a></li>
                  <li><a [routerLink]="['/employer/available-jobs']" routerLinkActive="active">Available Jobs</a></li>
                </ul>
              </li>
              <li>
                <a *ngIf="isLoggedInB" (click)="bigBtn()" class="post-job-btn"><i class="fa fa-search-plus"></i>{{btnText}}</a>
                <a *ngIf="!isLoggedInB" href="login" class="post-job-btn"><i class="fa fa-login"></i>Log In/Sign Up</a>
              </li>
            </ul>
          </nav><!-- Menus -->
        </div>
      </div>
    </header>
  
    <section class="overlape">
      <div class="block no-padding">
        <div data-velocity="-.1" class="parallax scrolly-invisible no-parallax"></div>
        <div class="container fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="inner-header" style="padding-top:90px" id="responsive-title">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  


	<section>
		<div class="block">
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12 simple-text-block">
            <h3 style="color: gray">Welcome to the Krow Network</h3>
            <h4>The fastest, most secure way to find the perfect job.</h4>
					</div>
				</div>
			</div>
		</div>
	</section>

	
	<section>
		<div class="block double-gap-top double-gap-bottom">
			<div data-velocity="-.1" style="background: #1e6ded" class="parallax scrolly-invisible layer color"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="simple-text-block">
							<h3>What is the Krow Network?</h3>
							<span>The Krow Network is a decentralized application that aims to streamline employment onto the internet, using blockchain technology. We look to pair employees and employers together through a secure network. Rather than scrambling for information on your counterparty before accepting or denying them as a business partner, their entire labor record becomes presented through their smart resume. Our blockchain autonomously track pieces of information from the platform without any intermediary party being involved. This creates a sense of validity, as decentralization will allow for an individual's resume to have complete transparency. When hiring an employee or deciding to work for a company, there will no longer be any missing pieces.</span>
							<a href="/register" title="">Create an Account</a>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</section>

	

  <app-bottom-bar></app-bottom-bar>

</div>

<div class="account-popup-area signin-popup-box">
	<div class="account-popup">
		<span class="close-popup"><i class="la la-close"></i></span>
		<h3>User Login</h3>
		<span>Click To Login With Demo User</span>
		<div class="select-user">
			<span>Candidate</span>
			<span>Employer</span>
		</div>
		<form>
			<div class="cfield">
				<input type="text" placeholder="Username" />
				<i class="la la-user"></i>
			</div>
			<div class="cfield">
				<input type="password" placeholder="********" />
				<i class="la la-key"></i>
			</div>
			<p class="remember-label">
				<input type="checkbox" name="cb" id="cb1"><label for="cb1">Remember me</label>
			</p>
			<a href="#" title="">Forgot Password?</a>
			<button type="submit">Login</button>
		</form>
		<div class="extra-login">
			<span>Or</span>
			<div class="login-social">
				<a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
				<a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</div><!-- LOGIN POPUP -->

<div class="account-popup-area signup-popup-box">
	<div class="account-popup">
		<span class="close-popup"><i class="la la-close"></i></span>
		<h3>Sign Up</h3>
		<div class="select-user">
			<span>Candidate</span>
			<span>Employer</span>
		</div>
		<form>
			<div class="cfield">
				<input type="text" placeholder="Username" />
				<i class="la la-user"></i>
			</div>
			<div class="cfield">
				<input type="password" placeholder="********" />
				<i class="la la-key"></i>
			</div>
			<div class="cfield">
				<input type="text" placeholder="Email" />
				<i class="la la-envelope-o"></i>
			</div>
			<div class="dropdown-field">
				<select data-placeholder="Please Select Specialism" class="chosen">
					<option>Web Development</option>
					<option>Web Designing</option>
					<option>Art & Culture</option>
					<option>Reading & Writing</option>
				</select>
			</div>
			<div class="cfield">
				<input type="text" placeholder="Phone Number" />
				<i class="la la-phone"></i>
			</div>
			<button type="submit">Signup</button>
		</form>
		<div class="extra-login">
			<span>Or</span>
			<div class="login-social">
				<a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
				<a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</div><!-- SIGNUP POPUP -->

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/modernizr.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/wow.min.js" type="text/javascript"></script>
<script src="js/slick.min.js" type="text/javascript"></script>
<script src="js/parallax.js" type="text/javascript"></script>
<script src="js/select-chosen.js" type="text/javascript"></script>

</body>
</html>

