<header class="gradient">
  <div class="menu-sec">
    <div class="container">
      <div class="logo">
        <a title=""><img src="assets/images/top-bar-logo.png" alt="" /></a>
      </div><!-- Logo -->
    </div>
  </div>
</header>
<section>
  <div class="block remove-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" style="vertical-align: middle">
          <!-- <div class="account-popup-area signin-popup-box static"> -->
          <div>
            <div *ngIf="errorMessage!=null" class="alert alert-danger" style="color: #fb236a">
              {{ errorMessage }}
            </div>
            <div class="select-user-text">
              <h1 style="color: #fb236a">Welcome to the Krow Network!</h1>
              <span >Select Employer to post jobs | Select candidate to find jobs</span>
            </div>

            <div class="select-user">
              <span [ngStyle]="{'background': bgColor, 'color': color}" (click)="isEmployer()">Employer</span>
              <span [ngStyle]="{'background': bgColor2, 'color': color2}" (click)="isCandidate()">Candidate</span>
            </div>
            <div class="col-md-6 offset-md-3" *ngIf="this.intent== 'Applicant'">
              <form class="form-signin" method="POST" action="#" role="form">
                <div class="cfield">
                  <i class="la la-user"></i>
                  <input id="biaFirst" required type="text" placeholder="First Name" class="form-control"
                    [(ngModel)]="first" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="cfield">
                  <i class="la la-user"></i>
                  <input id="biaLast" required type="text" placeholder="Last Name" class="form-control"
                    [(ngModel)]="second" [ngModelOptions]="{standalone: true}">

                </div>
                <div class="cfield">
                  <i class="la la-phone"></i>
                  <input id="biaPhone" required type="text" placeholder="Phone Number (Optional)" class="form-control"
                    [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}">

                </div>
                <!-- <span style="font-size: 10px; font-weight: 500">Each box is optional. We respect your privacy so you may choose to have no location at all if necessary</span> -->
                <div class="cfield">
                  <i class="la la-biography"></i>
                  <textarea id="biaBio" required type="text"
                    placeholder="Short Bio. Don't worry, you can change it later" class="form-control" [(ngModel)]="bio"
                    [ngModelOptions]="{standalone: true}"></textarea>

                </div>
                <!-- <app-edit (sendCount)="getData($event)"></app-edit> -->
                <button id="submitButton" (click)="submitInfo()">
                  Submit
                </button>
              </form>
            </div>
            <div class="col-md-6 offset-md-3" *ngIf="this.intent== 'Employer'">
              <form class="form-signin" method="POST" action="#" role="form">
                <div class="cfield">
                  <i class="la la-user"></i>
                  <input id="biaCompany" required type="text" placeholder="Company Name" class="form-control"
                    [(ngModel)]="company" [ngModelOptions]="{standalone: true}">

                </div>
                <div class="cfield">
                  <i class="la la-phone"></i>
                  <input id="biaPhone" required type="text" placeholder="Phone Number (Optional)" class="form-control"
                    [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}">

                </div>
                <div class="cfield">
                  <i class="la la-biography"></i>
                  <textarea id="biaBio" required type="text" placeholder="Description of your company"
                    class="form-control" [(ngModel)]="bio" [ngModelOptions]="{standalone: true}"></textarea>
                </div>
                <button id="submitButton" (click)="submitInfo()">
                  Submit
                </button>
              </form>
            </div>
          </div>



          <div div class="col-md-6 offset-md-3" *ngIf="uploadImageOn">
            <h1 style="color: #fb236a">Welcome to the Krow Network Employer Experience!</h1>
            <h3>Upload a personal image:</h3>
            <div *ngIf="errorMessage!=null" class="alert alert-danger" style="color: #fb236a">
              {{ errorMessage }}
            </div>
            <form class="form-signin" method="POST" action="#" role="form">
              <app-upload-pic></app-upload-pic>
              <a [routerLink]="['/']" routerLinkActive="active">skip this step</a>
            </form>
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
