<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="vertical-align: middle">
                    <!-- <div class="account-popup-area signin-popup-box static"> -->
                        <div  *ngIf='collectInfoOn'>
                            <div *ngIf="this.intent== 'Applicant'">
                            <h1 style="color: #fb236a">Welcome to the Krow Network Applicant Experience!</h1>	
                            <h3>We just need some basic info to get you started:</h3>
                            <div *ngIf="errorMessage!=null" class="alert alert-danger" style="color: #fb236a">
                                {{ errorMessage }}
                            </div>	
                            <form class="form-signin" method="POST" action="#" role="form">
                                <!-- <div class="cfield">
                                    <input id="biaFirst" required type="text" placeholder="First Name" class="form-control" 
                                        [(ngModel)]="first" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-user"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaLast" required type="text" placeholder="Last Name" class="form-control"
                                        [(ngModel)]="second" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-user"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaPhone" required type="tel" placeholder="Phone Number" class="form-control"
                                        [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-phone"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaEmail" required type="email" placeholder="Professional Email" class="form-control"
                                        [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <span style="font-size: 10px; font-weight: 500">Each box is optional. We respect your privacy so you may choose to have no location at all if necessary</span>
                                <div class="cfield">                                
                                    <input id="biaAddr" required type="text" placeholder="Address (optional)" class="form-control"
                                        [(ngModel)]="address" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-map-marker"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaCity" required type="text" placeholder="City (optional)" class="form-control"
                                        [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-map-marker"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaState" required type="text" placeholder="State (optional)" class="form-control"
                                        [(ngModel)]="state" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-map-marker"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaCountry" required type="text" placeholder="Country (optional)" class="form-control"
                                        [(ngModel)]="country" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-globe"></i>
                                </div>
                                <div class="cfield">                                
                                    <textarea id="biaBio" required type="text" placeholder="Short Bio. Don't worry, you can change it later" class="form-control"
                                        [(ngModel)]="bio" [ngModelOptions]="{standalone: true}"></textarea>
                                    <i class="la la-biography"></i>
                                </div> -->
                                <app-edit (sendCount)="getData($event)"></app-edit>
                                <button id="submitButton" (click)="submitInfo()">
                                    Next
                                </button>
                            </form>	
                        </div>
                            <div class="col-md-6 offset-md-3" *ngIf="this.intent== 'Employer'">
                            <h1 style="color: #fb236a">Welcome to the Krow Network Applicant Experience!</h1>	
                            <h3>We just need some basic info to get you started:</h3>
                            <div *ngIf="errorMessage!=null" class="alert alert-danger" style="color: #fb236a">
                                {{ errorMessage }}
                            </div>	
                            <form class="form-signin" method="POST" action="#" role="form">
                                    <div class="cfield">
                                        <i class="la la-user"></i>
                                        <input id="biaCompany" required type="text" placeholder="Company Name" class="form-control" 
                                            [(ngModel)]="company" [ngModelOptions]="{standalone: true}">
                                        
                                    </div>
                                    <!-- <div class="cfield">    
                                        <i class="la la-clipboard"></i>
                                        <select data-placeholder="Please Select the Types of Jobs your Company Offers" class="form-control" formControlName="jobType">
                                            <option value="" selected>-Choose Type of Jobs Offered-</option>
                                            <option value="1">Full Time</option>
                                            <option value="2">Part Time</option>
                                            <option value="3">Freelancing</option>
                                            <option value="4">Other</option>
                                        </select>
                                        <br>
                                    </div>
                                    <div class="cfield">    
                                            <i class="la la-group"></i>
                                            <select id="team-size-select" formControlName="size" class="form-control">
                                                    <option value="" selected>-Choose Size of Your Company-</option>
                                                    <option value="1">1-10</option>
                                                    <option value="2">11-100</option>
                                                    <option value="3">101-1000</option>
                                                    <option value="4">1001-5000</option>
                                                    <option value="5">5001-10000</option>
                                                    <option value="6">10000+</option>
                                                </select>
                                            <br>
                                        </div> -->
                                    <div class="cfield">    
                                        <i class="la la-phone"></i>                            
                                        <input id="biaPhone" required type="text" placeholder="Phone Number" class="form-control"
                                            [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}">
                                        
                                    </div>
                                    <div class="cfield"> 
                                        <i class="la la-envelope"></i>                               
                                        <input id="biaEmail" required type="email" placeholder="Company Email" class="form-control"
                                            [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                                        
                                    </div>
                                    <!-- <span style="font-size: 10px; font-weight: 500">Each box is optional. We respect your privacy so you may choose to have no location at all if necessary</span> -->
                                    <div class="cfield"> 
                                        <i class="la la-map-marker"></i>                               
                                        <input required type="text" placeholder="Year Established (Optional)" class="form-control"
                                            [(ngModel)]="year" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <!-- <div class="cfield">
                                        <i class="la la-check-square" ></i>  
                                        <span style="font-size: 10px; font-weight: 500">Key Words</span>                                
                                        <ul class="tags">
                                            <li class="tagAdd taglist" >
                                                    <input type="text" formControlName="keyWords" id="search-field">
                                            </li>
                                        </ul>
                                    </div> -->
                                    <div class="cfield">    
                                        <i class="la la-compass"></i>                            
                                        <input id="biaLocation" required type="text" placeholder="Location (Optional)" class="form-control"
                                            [(ngModel)]="location" [ngModelOptions]="{standalone: true}">
                                        
                                    </div>
                                    <div class="cfield"> 
                                        <i class="la la-biography"></i>                               
                                        <textarea id="biaBio" required type="text" placeholder="Description of your company" class="form-control"
                                            [(ngModel)]="bio" [ngModelOptions]="{standalone: true}"></textarea>
                                    </div>
                                    <button id="submitButton" (click)="submitInfo()">
                                        Next
                                    </button>
                                </form>	
                            </div>
                        </div>

                        

                        <div class="account-popup" *ngIf="uploadImageOn">	
                            <h1 style="color: #fb236a">Welcome to the Krow Network Employer Experience!</h1>	
                            <h3>Upload a personal image:</h3>
                            <div *ngIf="errorMessage!=null" class="alert alert-danger" style="color: #fb236a">
                                {{ errorMessage }}
                            </div>	
                            <form class="form-signin" method="POST" action="#" role="form">
                                <app-upload-pic></app-upload-pic>
                                <a [routerLink]="['/']" routerLinkActive="active">skip this step</a>
                            </form>	
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</section>