<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-popup-area signin-popup-box static">
                        <div class="account-popup" *ngIf="intent=='Applicant' && collectInfoOn">	
                            <h1 style="color: #fb236a">Welcome to the Krow Network Applicant Experience!</h1>	
                            <h3>We just need some basic info to get you started:</h3>
                            <div *ngIf="errorMessage!=null" class="alert alert-danger" style="color: #fb236a">
                                {{ errorMessage }}
                            </div>	
                            <form class="form-signin" method="POST" action="#" role="form">
                                <div class="cfield">
                                    <input id="biaFirst" required type="text" placeholder="First Name" class="form-control" 
                                        [(ngModel)]="first" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-user"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaLast" required type="text" placeholder="Last Name" class="form-control"
                                        [(ngModel)]="second" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-user"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaPhone" required type="text" placeholder="Phone Number (000)-000-0000" class="form-control"
                                        [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaEmail" required type="email" placeholder="Professional Email" class="form-control"
                                        [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaAddr" required type="text" placeholder="Address" class="form-control"
                                        [(ngModel)]="address" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaCity" required type="text" placeholder="City" class="form-control"
                                        [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaState" required type="text" placeholder="State" class="form-control"
                                        [(ngModel)]="state" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaCountry" required type="text" placeholder="Country" class="form-control"
                                        [(ngModel)]="country" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <textarea id="biaBio" required type="text" placeholder="Short Bio. Don't worry, you can change it later" class="form-control"
                                        [(ngModel)]="bio" [ngModelOptions]="{standalone: true}"></textarea>
                                    <i class="la la-envelope"></i>
                                </div>
                                <button (click)="submitInfo()">
                                    Next
                                </button>
                            </form>	
                        </div>

                        <div class="account-popup" *ngIf="intent=='Employer && collectInfoOn'">	
                            <h1 style="color: #fb236a">Welcome to the Krow Network Employer Experience!</h1>	
                            <h3>We just need some basic info to get you started:</h3>
                            <div *ngIf="errorMessage!=null" class="alert alert-danger" style="color: #fb236a">
                                {{ errorMessage }}
                            </div>	
                            <form class="form-signin" method="POST" action="#" role="form">
                                <div class="cfield">
                                    <input id="bieFirst" required type="text" placeholder="Company Name" class="form-control" 
                                        [(ngModel)]="first" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-users"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="bieSecond" required type="text" placeholder="Company Description" class="form-control"
                                        [(ngModel)]="second" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-paragraph"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaPhone" required type="text" placeholder="Phone Number (000)-000-0000" class="form-control"
                                        [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaEmail" required type="email" placeholder="Professional Email" class="form-control"
                                        [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaAddr" required type="text" placeholder="Address" class="form-control"
                                        [(ngModel)]="address" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaCity" required type="text" placeholder="City" class="form-control"
                                        [(ngModel)]="city" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaState" required type="text" placeholder="State" class="form-control"
                                        [(ngModel)]="state" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="biaCountry" required type="text" placeholder="Country" class="form-control"
                                        [(ngModel)]="country" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <button (click)="submitInfo()">
                                    Next
                                </button>
                            </form>	
                        </div>

                        <div class="account-popup" *ngIf="uploadImageOn">	
                            <h1 style="color: #fb236a">Welcome to the Krow Network Employer Experience!</h1>	
                            <h3>Upload a personal image:</h3>
                            <div *ngIf="errorMessage!=null" class="alert alert-danger" style="color: #fb236a">
                                {{ errorMessage }}
                            </div>	
                            <form class="form-signin" method="POST" action="#" role="form">
                                <app-upload-pic></app-upload-pic>
                            </form>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>