<header class="stick-top">
    <div class="menu-sec">
      <div class="container">
        <div class="logo">
          <a href="https://krownetwork.com/" title="">
            <!-- <img src="{{KROW_HEADER_2}}" alt="" /> -->
            <img src="assets/images/top-bar-logo.png" alt="Krow Network Logo" />
          </a>
        </div><!-- Logo -->
        <div class="btn-extars">
          <!-- <a [routerLink]="['employer-post-jobs']" routerLinkActive="active" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a> -->
          
        <nav>
          <ul>
            <li>
              <a  [routerLink]="['/']" routerLinkActive="active">Home</a>
            </li>
            
          </ul>
        </nav><!-- Menus -->
      </div>
    </div>
    </div>
  </header>
  <section class="overlape">
      <div class="block no-padding">
        <div data-velocity="-.1" class="parallax scrolly-invisible no-parallax"></div>
        <div class="container fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="inner-header" style="padding-top:90px" id="responsive-title">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section>
		<div class="block  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
                <h3>Frequently Asked Questions</h3>
                <div>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('general')" target="_self">General</a></span>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('applicant')" target="_self">Applicant</a></span>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('employer')" target="_self">Employer</a></span>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('other')" target="_self">Other</a></span>
                </div>
								<!-- <h3><bold>F</bold>requently <bold>A</bold>sked <bold>Q</bold>uestions</h3> -->
								<!-- <span>Keep up to date with the latest news</span> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="faqs">
							<div class="faq-box">
                <div id="general"></div>
                <h3>General</h3>
								<h2>What is the Krow Network? <i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>The Krow Network is a decentralized application that aims to streamline employment onto the internet, using blockchain technology.</p>
								</div>
							</div>
							<div class="faq-box">
								<h2>What is a blockchain?<i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>A blockchain is essentially a ledger that records every action on the blockchain, and nothing can be overwritten. For the purposes of the Krow Network, that includes hiring, firing, applying, etc.</p>
								</div>
							</div>
							<div class="faq-box">
								<h2>What powers the Krow Network Blockchain? <i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>The Krow Network uses Hyperledger Composer, an open source system developed by the Linux Foundation.</p>
								</div>
							</div>
							<div class="faq-box">
								<h2>Why does the Krow Network use a blockchain? <i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>The Krow Network uses a blockchain to ensure speed and reliability, as well as securing all data stored on the network. This allows for a more open and transparent hiring process, where an employer can verify everything on a user's Smart Resume.</p>
								</div>
							</div>
							<div class="faq-box">
								<h2>What is a "Smart Resume"? <i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>A smart resume is a resume hosted on the Krow Network blockchain. The smart resumes allow for an employer to trust the contents of a resume, because it is all verified by the blockchain. It takes the guessing games out of the hiring process. Since the resume is immutable(can't be changed), employers can trust that the information on the network is true.</p>
								</div>
              </div>
              
              <div class="faq-box">
                  <div id="applicant"></div>
                  <h3>Applicant</h3>
                  <h2>What is an Applicant? <i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>An applicant is a user on the Krow Network that can apply for jobs, and work for companies</p>
                  </div>
                </div>
                <div class="faq-box">
                  <h2>What can an applicant do?<i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>An applicant can apply, remove their application, confirm a hire request, resign, and request to complete jobs.</p>
                  </div>
                </div>
                <div class="faq-box">
                  <h2>How do I edit my profile? <i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>Click the edit button on your profile.</p>
                  </div>
                </div>
                <div class="faq-box">
                  <h2>How do I apply for a job? <i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>Find the job you want, and click the apply button. You can also remove your application by using the same button.</p>
                  </div>
                </div>
                <div class="faq-box">
                  <h2>A company wants to hire me! What do I do? <i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>Go to the job page (look under the hire requests tab under "jobs" in the nav bar) and click the job. Then click the Accept Hire button.</p>
                  </div>
                </div>
                <div class="faq-box">
                    <h2>I'm done. How do I quit? <i class="la la-minus"></i></h2>
                    <div class="contentbox">
                      <p>Go to the job page (look under the inprogress jobs tab under "jobs" in the nav bar) and click the job. Then click the Resign button, enter your reason, and click confirm.</p>
                    </div>
                  </div>
                  <div class="faq-box">
                      <h2>I finished my job. How do I tell the employer? <i class="la la-minus"></i></h2>
                      <div class="contentbox">
                        <p>Go to the job page (look under the inprogress jobs tab under "jobs" in the nav bar) and click the job. Then click the Complete Job button. The employer then needs to confirm or deny the completion request.</p>
                      </div>
                    </div>


                    <div class="faq-box">
                        <div id="employer"></div>
                        <h3>Employer</h3>
                        <h2>What is an Employer? <i class="la la-minus"></i></h2>
                        <div class="contentbox">
                          <p>An employer is a user on the Krow Network that can create jobs, and hire applicants, among other functions.</p>
                        </div>
                      </div>
                      <div class="faq-box">
                        <h2>What can an employer do?<i class="la la-minus"></i></h2>
                        <div class="contentbox">
                          <p>An emplopyer can post jobs, hire, fire, request to hire, deny applicants, etc.</p>
                        </div>
                      </div>
                      <div class="faq-box">
                        <h2>How do I edit my profile? <i class="la la-minus"></i></h2>
                        <div class="contentbox">
                          <p>Click the edit button on your profile.</p>
                        </div>
                      </div>
                      <div class="faq-box">
                        <h2>How do I create a job? <i class="la la-minus"></i></h2>
                        <div class="contentbox">
                          <p>Click the "Post Job" button and fill out the fields.</p>
                        </div>
                      </div>
                      <div class="faq-box">
                        <h2>An applicant applied! What do I do? <i class="la la-minus"></i></h2>
                        <div class="contentbox">
                          <p>Go to the job page (look under the available jobs tab under "jobs" in the nav bar) and click the job. Then you can see applicants. Click the view profile button to look at them, and then click the check or x to request to hire them or deny them. Once you deny them, they can't apply again.</p>
                        </div>
                      </div>
                      <div class="faq-box">
                          <h2>How do I edit a job? <i class="la la-minus"></i></h2>
                          <div class="contentbox">
                            <p>Go to the job page. Then click the edit button.</p>
                          </div>
                        </div>
                        <div class="faq-box">
                            <h2>The applicant has requested to complete their job. What do I do? <i class="la la-minus"></i></h2>
                            <div class="contentbox">
                              <p>Go to the job page. If you think their work is adequate enough, confirm the job. Otherwise, deny it and the applicant can request completion another time.</p>
                            </div>
                          </div>
                          <div class="faq-box">
                              <h2>How do I fire the applicant? <i class="la la-minus"></i></h2>
                              <div class="contentbox">
                                <p>Go to the job page. Under the employee tab, you can click the fire button, and enter a reason, and confirm it.</p>
                              </div>
                            </div>


                <div class="faq-box">
                    <div id="other"></div>
                    <h3>Other</h3>
                    <h2>I have a dispute. What should I do? <i class="la la-minus"></i></h2>
                    <div class="contentbox">
                      <p>Get in contact with us. The Krow Network cannot and will not make a binding, lawfully enforcable decision. All we will do is provide the facts.</p>
                    </div>
                  </div>
                  

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


  <app-bottom-bar></app-bottom-bar>