<header class="stick-top">
    <div class="menu-sec">
      <div class="container">
        <div class="logo">
          <a href="http://krownetwork.com/" title="">
            <!-- <img src="{{KROW_HEADER_2}}" alt="" /> -->
            <img src="assets/images/top-bar-logo.png" alt="Krow Network Logo" />
          </a>
        </div><!-- Logo -->
        <div class="btn-extars">
          <!-- <a [routerLink]="['employer-post-jobs']" routerLinkActive="active" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a> -->

        <nav>
          <ul>
            <li>
              <a  [routerLink]="['/']" routerLinkActive="active">Home</a>
            </li>

          </ul>
        </nav><!-- Menus -->
      </div>
    </div>
    </div>
  </header>
  <section class="overlape">
      <div class="block no-padding">
        <div data-velocity="-.1" class="parallax scrolly-invisible no-parallax"></div>
        <div class="container fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="inner-header" style="padding-top:90px" id="responsive-title">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section>
		<div class="block  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
                <h3>Frequently Asked Questions</h3>
                <div>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('general')" target="_self">General</a></span>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('applicant')" target="_self">Individual</a></span>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('employer')" target="_self">Company</a></span>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('other')" target="_self">Other</a></span>
                </div>
								<!-- <h3><bold>F</bold>requently <bold>A</bold>sked <bold>Q</bold>uestions</h3> -->
								<!-- <span>Keep up to date with the latest news</span> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="faqs">

              <div class="faq-box">
                <div id="general"></div>
                <h3>General</h3>
								<h2>How do I build my smart resume? <i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>After signing up you will be able to display any education or experiences you've ever had directly onto your smart resume, and get them verified for your employers to see.</p>
								</div>
							</div>

            <div class="faq-box">
              <h2>What can I do with my resume? <i class="la la-minus"></i></h2>
              <div class="contentbox">
                <p>Once you've built your resume, you can share it with any job or experience that your trying to get, or use it for a future opportunity (university applications, internships, etc). You can share via email, text, or social media, although we do not offer printing your resume for environemntal reasons.</p>
              </div>
            </div>

							<div class="faq-box">
								<h2>Is this free?<i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>Using the Krow application is 100% free for both individuals and companies.</p>
								</div>
							</div>

							<div class="faq-box">
								<h2>How can I contact Krow for support?<i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>You can submit a ticket by scrolling to the bottom of the page and clicking "Help" under "Quick Links". You may also contact us via our email: help@krow.network.</p>
								</div>
							</div>

              <div class="faq-box">
								<h2>Is my data safe?<i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>Your data is 100% safe. We do not give your data away to any third parties.</p>
								</div>
							</div>




              <div class="faq-box">
                  <div id="applicant"></div>
                  <h3>Individual</h3>
                  <h2>How do I create my resume? <i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>Sign up using either the button on the top menu or the button on the homepage. Once you've verified your email, you will be able to log in and choose the "Individual" option. From there, you will be prompted to create your account.</p>
                  </div>
                </div>

                <div class="faq-box">
                  <h2>How can I verify an experience?<i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>Once you create a new experience, a button will appear next to it that allows you to get the experience verified. Experiences are verified via email, so ensure that you have the correct information about a previous employer/HR department. If you enter an email that does not represent the employer, you will be notified and may risk losing your ability to verify the experience.</p>
                  </div>
                </div>

                <div class="faq-box">
                  <h2>How do I edit my resume? <i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>Click the edit button on your profile.</p>
                  </div>
                </div>

                <div class="faq-box">
                  <h2>A company wants my resume, what do I do? <i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>Go to your resume and click the share button. You will be able to enter an email or phone number and attach a message. You have one shot, so make sure you get your experiences verified to stand out!</p>
                  </div>
                </div>

                  <div class="faq-box">
                      <h2>How do I get into contact with my previous employer? <i class="la la-minus"></i></h2>
                      <div class="contentbox">
                        <p>If they are a company attempt to search the web for an HR email or reference a co-worker that currently works at the company. We will verify that they are associated with the named company, and display the verification directly on your resume.</p>
                      </div>
                    </div>


                    <div class="faq-box">
                        <div id="employer"></div>
                        <h3>Company</h3>
                        <h2>How do I create a company account? <i class="la la-minus"></i></h2>
                        <div class="contentbox">
                          <p>Sign up using either the button on the top menu or the button on the homepage. Once you've verified your email, you will be able to log in and choose the "Individual" option. From there, you will be prompted to create your account.</p>
                        </div>
                      </div>
                      <div class="faq-box">

                        <h2>How do I search for a person's resume?<i class="la la-minus"></i></h2>
                        <div class="contentbox">
                          <p>You can search for a person's name through the search bar on the homepage or on the top menu bar. You must have an account to access the search engine.</p>
                        </div>
                      </div>

                      <div class="faq-box">
                        <h2>How do I recieve a resume? <i class="la la-minus"></i></h2>
                        <div class="contentbox">
                          <p>If the individual is applying for your job in person, give them your email or phone number and they will be able to send you their resume in seconds. If the individual is found through the search engine, look for their email address or phone number and get into contact with them.</p>
                        </div>
                      </div>

                      <div class="faq-box">
                        <h2>Why should I use this service? <i class="la la-minus"></i></h2>
                        <div class="contentbox">
                          <p>The paper resume doesn't show enough about the person, and is prone to being filled with lies. We allow users to verify the experience so you don't have to worry about hiring the wrong person or getting an HR department. Resumes in the future will show off more attributes about the person and include a full portfolio for companies to view.</p>
                        </div>
                      </div>

                      <div class="faq-box">
                        <h2>How do I verify that an employee worked at my company? <i class="la la-minus"></i></h2>
                        <div class="contentbox">
                          <p>The employee must have a resume on the platform and they must create the experience on their resume. Now, they can click the "Verify Experience" button next the resume and enter your email. You will recieve an email where you click the link and enter any information about the job and verify whether or not it is real.</p>
                        </div>
                      </div>

                      <div class="faq-box">
                          <h2>How do I know a verification is real? <i class="la la-minus"></i></h2>
                          <div class="contentbox">
                            <p>You will be able to click on any experience that is verified and view information from our blockchain. This information includes time & date of verification, contact information of the verifier and more.</p>
                          </div>
                        </div>

                          <div class="faq-box">
                              <h2>Somebody is claiming my company but I didn't verify them.<i class="la la-minus"></i></h2>
                              <div class="contentbox">
                                <p>On their resume you will have the ability to report their account. You may also file a ticket for support or email us at help@krow.network.</p>
                              </div>
                            </div>


                <div class="faq-box">
                    <div id="other"></div>
                    <h3>Other</h3>

                  <div class="faq-box">
                    <h2>I have a business opportunity<i class="la la-minus"></i></h2>
                    <div class="contentbox">
                      <p>Great! Feel free to email us at business@krow.network and we will get into contact with you.</p>
                    </div>
                  </div>

                  <div class="faq-box">
                  <h2>Support</h2>
                  <div class="contentbox">
                    <p>File a inquiry ticket or contact us at help@krow.network.</p>
                  </div>
                </div>
                  <div class="faq-box">
                  <h2>Feedback</h2>
                  <div class="contentbox">
                    <p>File a inquiry ticket or contact us at feedback@krow.network.</p>
                  </div>
                </div>
                </div>
              </div>



                </div>
              </div>
						</div>
          </div>
	</section>


  <app-bottom-bar></app-bottom-bar>
