<header class="stick-top">
    <div class="menu-sec">
      <div class="container">
        <div class="logo">
          <a href="http://krownetwork.com/" title="">
            <!-- <img src="{{KROW_HEADER_2}}" alt="" /> -->
            <img src="assets/images/top-bar-logo.png" alt="Krow Network Logo" />
          </a>
        </div><!-- Logo -->
        <div class="btn-extars">
          <!-- <a [routerLink]="['employer-post-jobs']" routerLinkActive="active" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a> -->

        <nav>
          <ul>
            <li>
              <a  [routerLink]="['/']" routerLinkActive="active">Home</a>
            </li>

          </ul>
        </nav><!-- Menus -->
      </div>
    </div>
    </div>
  </header>
  <section class="overlape">
      <div class="block no-padding">
        <div data-velocity="-.1" class="parallax scrolly-invisible no-parallax"></div>
        <div class="container fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="inner-header" style="padding-top:90px" id="responsive-title">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<section>
		<div class="block  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
                <h3>Frequently Asked Questions</h3>
                <div>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('general')" target="_self">General</a></span>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('applicant')" target="_self">Individual</a></span>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('comparisons')" target="_self">Comparisons</a></span>
                  <span style="display: inline; margin:5px"><a (click)="anchorClick('other')" target="_self">Other</a></span>
                </div>
								<!-- <h3><bold>F</bold>requently <bold>A</bold>sked <bold>Q</bold>uestions</h3> -->
								<!-- <span>Keep up to date with the latest news</span> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="faqs">

              <div class="faq-box">
                <div id="general"></div>
                <h3>General</h3>
								<h2>How do I build my smart resume? <i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>After signing up you will be able to display any education or experiences you've ever had directly onto your smart resume, and get them verified for your employers to see.</p>
								</div>
							</div>

            <div class="faq-box">
              <h2>What can I do with my resume? <i class="la la-minus"></i></h2>
              <div class="contentbox">
                <p>Once you've built your resume, you can share it with any job or experience that your trying to get, or use it for a future opportunity (university applications, internships, etc). You can share via email, text, or social media, although we do not offer printing your resume for environemntal reasons.</p>
              </div>
            </div>

							<div class="faq-box">
								<h2>Is this free?<i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>Using the Krow application is 100% free.</p>
								</div>
							</div>

							<div class="faq-box">
								<h2>How can I contact Krow for support?<i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>You can submit a ticket by scrolling to the bottom of the page and clicking "Help" under "Quick Links". You may also contact us via our email: help@krow.network.</p>
								</div>
							</div>

              <div class="faq-box">
								<h2>Is my data safe?<i class="la la-minus"></i></h2>
								<div class="contentbox">
									<p>Your data is 100% safe. We do not give your data away to any third parties.</p>
								</div>
							</div>




              <div class="faq-box">
                  <div id="applicant"></div>
                  <h3>Individual</h3>
                  <h2>How do I create my resume? <i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>Sign up using either the button on the top menu or the button on the homepage. Once you've verified your email, you will be able to log in and choose the "Individual" option. From there, you will be prompted to create your account.</p>
                  </div>
                </div>

                <div class="faq-box">
                  <h2>How do I edit my resume? <i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>Click the edit button on your profile.</p>
                  </div>
                </div>

                <div class="faq-box">
                  <h2>A company wants my resume, what do I do? <i class="la la-minus"></i></h2>
                  <div class="contentbox">
                    <p>Go to your resume and click the share button. You will be able to enter an email or phone number and attach a message. You have one shot, so make sure you get your experiences verified to stand out!</p>
                  </div>
                </div>

     

                <div class="faq-box">
                  <div id="comparisons"></div>
                  <h3>Comparisons</h3>
                  <div class="faq-box">
                    <h2>What are the "comparisons"<i class="la la-minus"></i></h2>
                    <div class="contentbox">
                      <p>The comparisons are an artifical intelligence based system that scores how similar your experiences are to the job you are currently viewing. The model is updated every day, leading to more and more accurate results. However, if the comparison says 78%, for example, that does NOT mean you have a 78% chance of getting that job. That is just how similar that experience is to the job you are viewing.</p>
                    </div>
                  </div>
  
                  <div class="faq-box">
                    <h2>How do I improve my score?<i class="la la-minus"></i></h2>
                    <div class="contentbox">
                      <p>Please be as detailed as possible in your experiences, but be truthful. If the score is low, that may mean you are not ready for that job. You can go take classes and learn more about that particular topic, add a new experience, and that score could be very similar. Remember, employers look at your resume holsitically. You can have your different experiences spread across all of your resume.</p>
                    </div>
                  </div>
  
                
  
              </div>

                <div class="faq-box">
                    <div id="other"></div>
                    <h3>Other</h3>

                  <div class="faq-box">
                    <h2>I have a business opportunity<i class="la la-minus"></i></h2>
                    <div class="contentbox">
                      <p>Great! Feel free to email us at business@krow.network and we will get into contact with you.</p>
                    </div>
                  </div>

                  <div class="faq-box">
                  <h2>Support</h2>
                  <div class="contentbox">
                    <p>File a inquiry ticket or contact us at help@krow.network.</p>
                  </div>
                </div>
                  <div class="faq-box">
                  <h2>Feedback</h2>
                  <div class="contentbox">
                    <p>File a inquiry ticket or contact us at feedback@krow.network.</p>
                  </div>
                </div>
                </div>
              </div>

              



                </div>
              </div>
						</div>
          </div>
	</section>


  <app-bottom-bar></app-bottom-bar>
