<app-top-bar></app-top-bar>

<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 column">
          <div class="job-single-sec">
            <div class="job-single-head2">
              <div *ngIf="msg!=null" class="alert alert-danger" style="color: #fb236a">
                {{ msg }}
              </div>
              <div class="job-title2">
                <h3>{{ title }}</h3><span class="job-is ft">Coding & IT</span><i class="la la-heart-o"></i>
              </div>
              <ul class="tags-jobs">
                <li><i class="la la-money"></i> Pay: <span>{{ pay }}</span></li>
                <li><i class="la la-calendar-o"></i> Post Date: {{ dateString }} </li>
                <li><i class="la la-calendar-o"></i> Last Updated: {{ lastUpdated }}</li>
              </ul>
              <span><strong>Tags</strong> {{ tags }}</span>
            </div><!-- Job Head -->
            <div class="job-details">
              <h3>Job Description</h3>
              <p>{{ jobDescription }}</p>
            </div>
            <div class="share-bar">
              <span>Share</span><a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#"
                title="" class="share-twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="share-link"><i
                  class="fa fa-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 column">
          <div class="job-single-head style2">
            <div class="job-thumb"> <img src="{{ imgURL }}" alt="" /> </div>
            <div class="job-head-info">
              <h4>{{ company }}</h4>
              <p>{{ description }}</p>
              <p><i *ngIf="website != ''" class="la la-unlink"></i> {{ website }}</p>
              <p><i class="la la-envelope-o"></i>{{ email }}</p>
            </div>
            <div class="share-bar">
              <a href="{{ linkedin }}" title="" class="share-linkedin"><i class="la la-linkedin"></i></a><a href="{{ facebook }}"
                title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="{{ twitter }}" title="" class="share-twitter"><i
                  class="fa fa-twitter"></i></a>
            </div>
            <div class="emply-btns">
              <a *ngIf="userLoggedIn && !isOwner" class="followus" href="#" title=""><i class="la la-paper-plane"></i>
                Message Us</a>
              <a *ngIf="userLoggedIn && !isOwner && canAcceptJob" class="followus" (click)="openNewDialog()" title=""
                style="margin-top: 5px;"><i class="la la-check"></i>Accept this job</a>
              <a *ngIf="userLoggedIn && !isOwner && canApply" class="followus" (click)="apply()" title="" style="margin-top: 5px;"><i
                  class="la la-paper-plane"></i>Apply for job</a>
              <a *ngIf="userLoggedIn && !isOwner && canDeApply" class="followus" (click)="deapply()" title="" style="margin-top: 5px;"><i
                  class="la la-close"></i>Remove Application</a>
              <a *ngIf="userLoggedIn && isOwner" class="followus" (click)="edit()" title="" style="margin-top: 5px;"><i
                  class="la la-close"></i>Edit</a>
              <a *ngIf="!userLoggedIn" class="followus" (click)="login()" title="" style="margin-top: 5px;"><i class="la la-paper-plane"></i>Log
                In</a>
            </div>
          </div><!-- Job Head -->
        </div>
      </div>
    </div>
  </div>
</section>





<app-bottom-bar></app-bottom-bar>
