<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>Someone accepted your job!</h1>
        <p><%= name %> accepted your hire request for the job "<%= jobname %>"</p>
        <a href="http://krownetwork.com">Check it out here!</a>
    </body>
</html>