<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>Someone removed their application from your job!</h1>
        <p><%= name %> removed their application to your job "<%= jobname %>"</p>
        <a href="http://krownetwork.com">Check it out here!</a>
    </body>
</html>