<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>Someone applied to your job!</h1>
        <p><%= name %> applied to your job "<%= jobname %>"</p>
        <a href="http://krownetwork.com">Check it out here!</a>
    </body>
</html>