<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <p>Name: <%= name %></p>
        <p>Phone Number: <%= phoneNumber %></p>
        <p>Email: <%= email %></p>
        <p>Message: <%= msg %></p>
    </body>
</html>