<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1><%= name %> accepted your job offer!</h1>
        <p><%= name %> accepted your offer for the job "<%= jobname %>"</p>
        <a href="http://krownetwork.com">Check it out here!</a>
    </body>
</html>