<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <h1>Someone shared their resume with you!</h1>
        <p><%= name %> sent you their resume!</p>
        <a href="<%= link %>">Check it out here!</a>
    </body>
</html>