<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>


<p>Hi there,</p>
<p><%= user %> has requested verification for their listed job experience on Krow Network</p>
<p>The job title requesting verification is "<%= jobName %>"</p>
<p>To verify, click <%=link%> link below, and enter the following code in the box: <%= code %></p>
</body>
</html>