<header class="gradient">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="index.html" title=""><img src="assets/images/top-bar-logo.png" alt="" /></a>
				</div><!-- Logo -->
			</div>
		</div>
	</header>

<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-popup-area signin-popup-box static">
                        <div class="account-popup">	
                            <div *ngIf="errorMessage!=null" class="alert alert-danger" style="color: #fb236a">
                                    {{ errorMessage }}
                            </div>	
                            <h3>Sign Up</h3>
                            <span>Select Employer to post jobs | Select candidate to find jobs</span>
                            <div class="select-user">
                                <span (click)="isEmployer()">Employer</span>
                                <span (click)="isCandidate()">Candidate</span>
                            </div>	
                           
                            <form class="form-signin" method="POST" action="#" role="form">
                                <div class="cfield">
                                    <input id="signupEmail" required type="email" placeholder="Email" class="form-control" 
                                        [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-envelope"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="signupPassword" required type="password" placeholder="********" class="form-control"
                                        [(ngModel)]="registrationUser.password" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-key"></i>
                                </div>
                                <div class="cfield">                                
                                    <input id="confirmPassword" required type="password" placeholder="Confirm ********" class="form-control"
                                        [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}">
                                    <i class="la la-key"></i>
                                </div>
                                <div>                                
                                        <input type="checkbox" name="cb" id="cb1" required><label for="cb1">I agree to the <a href="https://www.krownetwork.com/tac">Terms and Conditions</a> and the <a href="https://www.krownetwork.com/privacypolicy">Privacy Policy.</a></label>
                                        <!-- <i class="la la-key"></i> -->
                                </div>
                                
                                <button (click)="onRegister()">
                                      Register
                                </button>
                                <p>Already have an account? <a [routerLink]="['/login']"> <i class="fa fa-fw fa-lock"></i>Login</a></p>
                            </form>	
                            <div class="extra-login">
									<span>Or</span>
									<div class="login-social">
										<a class="tw-login" href="#" title=""><i class="fa fa-google"></i></a>
										<a class="fb-login" href="#" title=""><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-bottom-bar></app-bottom-bar>