<div class="padding-left">

  <div class="social-edit"  id="sn">
      <h3 id="app-responsive-component-profile"></h3>

    <div class = "container">
        <!-- <button style="margin-left: 10px" *ngIf="profileType == 'Applicant' && isSignup == 'false'" (click)="showDelete()">Delete Account</button>
        <button style="margin-left: 10px" *ngIf="profileType != 'Applicant' && isSignup == 'false'" (click)="showDelete()">Delete Account</button> -->
    
        <button *ngIf="profileType == 'Applicant' && isSignup == 'false'" [routerLink]="['/applicant/upload']">Upload Profile Picture</button>
        <!-- <button *ngIf="profileType != 'Applicant' && isSignup == 'false'" [routerLink]="['/employer/upload']">Upload Profile Picture</button> -->

        <input hidden type="file" class="upload-and-parse" name="resumeFile" #uploader (change)="uploadAndParseResume($event)"/>
        <button *ngIf="profileType == 'Applicant'" (click)="uploader.click()">Upload Resume</button>
        <!-- <button *ngIf="profileType != 'Applicant'" (click)="uploader.click()">Upload Resume</button> -->
    </div>
    
    <div class="social-edit" style="margin-top: 10px">
      <span *ngIf="!canDelete && showDel">You must complete all inprogress jobs to delete your account.</span>

      <button *ngIf="canDelete && showDel" (click)="delete()">Confirm</button>
    </div>

    
    <form>
      <div class="row">
        <div id="app-responsive-component-profile-first" class="col-lg-6">
          <span class="pf-title"></span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="Will" id="first"
              [(ngModel)]="first" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-user"></i>
          </div>
        </div>


        <div id="app-responsive-component-profile-second" class="col-lg-6" >
          <span class="pf-title"></span> 
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="Smith" id="second"
              [(ngModel)]="second" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-users"></i>
          </div>
        </div>

        <!-- <div id="app-responsive-component-profile-second" class="col-lg-12" *ngIf="profileType == 'Employer'">
            <span class="pf-title"></span> 
            <div class="pf-field">
              <input (keydown)="changeHandler($event)" type="textarea" placeholder="" id=""
                [(ngModel)]="second" [ngModelOptions]="{standalone: true}" class="ta" [disabled]="is_disabled()"/>
              <i class="la la-users"></i>
            </div>
          </div> -->


      </div>
      <div class="col-lg-12" id="updateName" style="display:none; padding:0">
        <a (click)="buttonPressed($event)" class="post-job-btn" style="float:right" ng-disabled="false">UPDATE</a>
      </div>
    </form>
  </div>
  <!-- Applicant ONLY -->
  <div class="social-edit"  id="sn" *ngIf="profileType == 'Applicant'">
      <h3>Bio<a title="Did you know you can write HTML code in this box to style up your bio?" class="custom-tooltip"><i class="la la-info-circle"></i></a></h3>
      <form>
        <div class="row">
          <div class="col-lg-12">
            <span class="pf-title">Bio</span>
            <div class="pf-field">
              <textarea (keydown)="changeHandler($event)" type="text" placeholder="Some cool stuff about me" 
                [(ngModel)]="bio" [ngModelOptions]="{standalone: true}" id="bio" [disabled]="is_disabled()" ng-trim="false"></textarea>
              <i class="la la-user"></i>   
            </div>
          </div>
        </div>
        <div class="col-lg-12" id="updateBio" style="display:none; padding:0">
            <a (click)="buttonPressed($event)" class="post-job-btn" style="float:right"  ng-disabled="false">UPDATE</a>
          </div>
      </form>
    </div>

  <div class="social-edit"  id="sn">
    <h3 style="display: inline">Address <span style="font-size: 10px; font-weight: 500">Each box is optional. We respect your privacy so you may choose to have no location at all if necessary</span></h3>
    <form>
      <div class="row">
        <div class="col-lg-6">
          <span class="pf-title">Address</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="4632 1/2 Hollywood Boulevard" 
              [(ngModel)]="address" [ngModelOptions]="{standalone: true}" id="address" [disabled]="is_disabled()"/>
            <i class="la la-map-marker"></i>   
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">City</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="Los Angeles" 
              [(ngModel)]="city" [ngModelOptions]="{standalone: true}"id="city" [disabled]="is_disabled()"/>
            <i class="la la-map-marker"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">State</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="California"
              [(ngModel)]="state" [ngModelOptions]="{standalone: true}" id="state" [disabled]="is_disabled()"/>
            <i class="la la-map-o"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Country</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="USA"
              [(ngModel)]="country" [ngModelOptions]="{standalone: true}" id="country" [disabled]="is_disabled()"/>
            <i class="la la-flag-o"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-12" id="updateAddress" style="display:none; padding:0">
        <a (click)="buttonPressed($event)" class="post-job-btn" style="float:right" ng-disabled="false">UPDATE</a>
      </div>
    </form>
  </div>
  <div class="social-edit"  id="sn">
    <h3>Social</h3>
    <form>
      <div class="row" id="app-responsive-social-div">
        <div class="col-lg-6">
          <span class="pf-title">Facebook</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="www.facebook.com/sample"
              id="urlFACEBOOK" [(ngModel)]="urlFACEBOOK" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-facebook"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Twitter</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="www.twitter.com/sample" 
              id="urlTWITTER" [(ngModel)]="urlTWITTER" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-twitter"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Linkedin</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="www.linkedin.com/sample" 
              id="urlLINKEDIN" [(ngModel)]="urlLINKEDIN" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-linkedin"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Website</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="www.myDomain.com/sample" 
              id="urlWEBSITE" [(ngModel)]="urlWEBSITE" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-external-link-square"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Phone</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="+1 609 963 5896" 
              id="phoneNumber" [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-phone"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Mail</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="mail@mail.com" 
              id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-envelope"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-12" id="updateSocial" style="display:none; padding:0">
        <a (click)="buttonPressed($event)" class="post-job-btn" style="float:right" ng-disabled="false">UPDATE</a>
      </div>
    </form>
  </div>
</div>
<div class="social-edit"  id="sn" *ngIf="userType == 'applicant'">
  <h3>Education</h3>
  <app-resume-education #edu [isSignup]="isSignup"></app-resume-education>
</div>
<div class="social-edit"  id="sn" *ngIf="userType == 'applicant'">
  <h3>Experience</h3>
  <app-resume-experience #exp [isSignup]="isSignup"></app-resume-experience>
</div>
<div class="social-edit"  id="sn" *ngIf="userType == 'applicant'">
  <h3>Achievement</h3>
  <app-resume-achievements #achieve [isSignup]="isSignup"></app-resume-achievements>
</div>
<div class="social-edit"  id="sn" *ngIf="userType == 'applicant'">
  <h3>Volunteer Experience</h3>
  <app-resume-volunteers #vol [isSignup]="isSignup"></app-resume-volunteers>
</div>