
    <app-top-bar></app-top-bar>
    
    <section class="overlape">
        <div class="block no-padding">
          <div data-velocity="-.1" class="parallax scrolly-invisible no-parallax"></div>
          <div class="container fluid">
            <div class="row">
              <div class="col-lg-12">
                  <div class="inner-header" id="responsive-title">
                      <!-- <h3>Chat</h3> -->
                    </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section>
        <div class="block no-padding">
          <div class="container">
             <div id="frame">
                <div id="sidepanel">
                  <!-- rooms -->
                  <div class="rooms">
                    <ul class="list-unstyled" style="list-style-type: none;" >
                      <li class="room " *ngFor="let room of room_data; let i = index" [ngClass]="{'none': room.activity == 'none', 'active': room.activity == 'active'}">
                        <a (click)="loadChat(room.chatID, room.name)">
                        <div class="wrap">
                          <span class="room-status none" ></span>
                          <img :src="room.image" alt="" />
                          <div class="meta">
                            <p class="name sidebar">{{ room.name }}</p>
                            <!-- <p class="sidebar"><a>Delete</a></p> -->
                          </div>
                        </div>
                        </a>
                        
                      </li>
                    </ul>
                  </div>

                </div>

                <div id="content" class="content">
                  <!-- room-details -->
                  <div class="room-details">
                      <!-- <img :src="activeRoom.image" alt="" class='description' /> -->
                      <!-- <p>{{ current_room_data.user }}</p> -->

                    </div>
                  <!-- messages -->
                  <div class='messages-wrapper'>
                      <!-- <virtual-scroll [items]="current_room_data.messages" (update)="current_room_data.messages = $event"> -->
                        <!-- {{ user }} -->
                        <div class="list" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <div [contextMenu]="basicMenu" [contextMenuSubject]="message" [ngClass]="{ 'message': 1==1, 'sent': message.M.from.S == user, 'replies': message.M.from.S != user}" *ngFor="let message of current_room_data.messages; let i = index;">
                          <span *ngIf="message.M.from.S != user" class="sender">{{ current_room_data.user }}</span>
                          <p>{{ message.M.message.S }}</p>
                          <context-menu>
                              <ng-template contextMenuItem (execute)="deleteMessage($event.item.M.date.S)">
                                Delete Message
                              </ng-template>
                            </context-menu>
                        </div>
                      
                    </div>
                    <!-- <div ng:bind="message_html"></div> -->
                  </div>

                    <div class="message-input" [hidden]="isHidden">
                        <div class="wrap">
                        <input style="margin-bottom: 0px; height: 45px" type="text" id='textbox' [(ngModel)]="myVar" placeholder="Write your message..." />
                        <button class="submit" (click)="sendMessage(myVar)" ng-click="myVar = null" [disabled]="noSend"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                        </div>
                      </div>
                </div>

              </div>
             </div>
          </div>
      </section>

    <app-bottom-bar></app-bottom-bar>







<!-- 
    <div id="modal-container" class="hidden"></div>
    <div id="overlay" (click)="removeModal()" class="hidden"></div> -->

