h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    border-top: 1px solid #edeff7;
    border-bottom: 0px;
}
a {
    margin-bottom: 15px;
}

.job-listings-sec {
    float: left;
    width: 100%;
}
.job-listing {
    float: left;
    width: 100%;
    display: table;
    border-bottom: 1px solid #e8ecec;
    padding: 20px 0;
    background: #ffffff;
    border-left: 2px solid #ffffff;
    padding-right: 30px;
}
.job-title-sec {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
}

.main-featured-sec {
    float: left;
    width: 100%;
    z-index: 1;
}