<div class="share-popup">
    <div class="share-bar circle">
        <div>
            <a href="{{ urlLINKEDIN }}" title="" class="share-linkedin">
                <i class="la la-linkedin"></i>
            </a>
            <p>Share via Email</p>
        </div>
        <div>
            <a (click)="copy()" title="" class="share-fb">
                <i class="fa fa-link"></i>
            </a>
            <p>Copy to Clipboard</p>
        </div>
        
        
    </div>
    <button (click)="close()">Close</button>
</div>
