<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div *ngIf="!email" class="share-popup">
    <div class="share-bar circle">
        <div>
            <a (click)="showEmail()"><i class="fa fa-envelope"></i></a>
            <p>Share via Email</p>
        </div>
        <div>
            <a (click)="copy()" title="" class="share-fb">
                <i class="fa fa-link"></i>
            </a>
            <p>Copy to Clipboard</p>
        </div>
        
        
    </div>
    <button (click)="close()">Close</button>
</div>

<div *ngIf="email" class="share-popup">
    <span class="share-popup-email">
        <a>Enter an email:</a>
        <input [(ngModel)]="addr" [ngModelOptions]="{standalone: true}" />
        <button class="submitEmail" (click)="send(addr)">Send</button>
    </span>

    <button (click)="close()">Close</button>
</div>

