<div *ngIf="!email" class="share-popup">
    <div class="share-bar circle">
        <div>
            <a (click)="showEmail()">Share via Email</a>

        </div>
        <div>
            <a (click)="copy()" title="" class="share-fb">
                <i class="fa fa-link"></i>
            </a>
            <p>Copy to Clipboard</p>
        </div>
        
        
    </div>
    <button (click)="close()">Close</button>
</div>

<div *ngIf="email" class="share-popup">
    <input [(ngModel)]="addr" [ngModelOptions]="{standalone: true}" />
    <a (click)="send(addr)">Send</a>

    <button (click)="close()">Close</button>
</div>

