<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-popup-area signin-popup-box static">
                        <div class="account-popup">	
                            <h1 style="color: #141f72; font-weight: 700">Admin</h1>	
                            <div class="row">
                              <div clas="col-lg-12">
                                  <button (click)="goUserSearch()">User Search</button>
                              </div>
                              <!-- <div clas="col-lg-4">

                              </div>
                              <div clas="col-lg-4">

                              </div> -->
                            </div>
                            <h3>Instructions for using http://18.220.46.51:3000</h3>
                            <span>Use chrome, install the extension "ModHeader"</span>
                            <span>Set the header "x-api-key" and the value to</span>
                            <span>"qLBrEwIv690nAbMfVHB965WC3KfoC1VpvkBjDUiBfVOG5mTzlUlwkckKLerAUxxv"</span>
                            <span>Then go <a href="http://18.220.46.51:3000">here</a></span>
                            
                            <!-- <div class="extra-login">
                                <span>Or (Coming Soon)</span>
                                <div class="login-social">
                                    <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                                    <a class="goo-login" href="#" title=""><i class="fa fa-google"></i></a>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>