<div class="widget" *ngIf="loggedIn && userType === 'employer'">
  <div class="tree_widget-sec">
    <div class="widget">
      <div class="search_widget_job">
        <div class="field_w_search">
          <input type="text" placeholder="Job Title" [(ngModel)]="term" [ngModelOptions]="{standalone: true}"/>
          <i (click)="go(term)" class="la la-search"></i>
        </div><!-- Search Widget -->
      </div>
    </div>
    <ul>
      <li class="inner-child">
        <a [routerLink]="['/employer']" title=""><i class="la la-file-text"></i>Company Profile</a>
      </li>
      <li class="inner-child">
        <a [routerLink]="['/employer/new-manage-jobs']" title=""><i class="la la-briefcase"></i>Manage Jobs</a>
      </li>
      <li class="inner-child">
        <a [routerLink]="['/employer/new-post-jobs']" title=""><i class="la la-file-text"></i>Post a New Job</a>
      </li>
    </ul>
  </div>
</div>

<div class="widget" *ngIf="loggedIn && userType === 'applicant'">
  <div class="tree_widget-sec">
    <div class="widget">
      <div class="search_widget_job">
        <div class="field_w_search">
          <input type="text" placeholder="Job Title" [(ngModel)]="term" [ngModelOptions]="{standalone: true}"/>
          <i (click)="go(term)" class="la la-search"></i>
        </div><!-- Search Widget -->
      </div>
    </div>
    <ul>
      <li class="inner-child">
        <a [routerLink]="['/applicant']" title=""><i class="la la-file-text"></i>Profile</a>
      </li>
      <li class="inner-child">
        <a [routerLink]="['/applicant/my-jobs']" title=""><i class="la la-briefcase"></i>My Jobs</a>
      </li>
    </ul>
  </div>
</div>

<div class="widget" *ngIf="!loggedIn">
  <div class="tree_widget-sec">
    <ul>
      <li class="inner-child">
        <div class="widget">
          <div class="search_widget_job">
            <div class="field_w_search">
              <input type="text" placeholder="Job Title" [(ngModel)]="term" [ngModelOptions]="{standalone: true}"/>
              <i (click)="go(term)" class="la la-search"></i>           </div><!-- Search Widget -->
          </div>
        </div>
        <a [routerLink]="['/']" title=""><i class="la la-file-text"></i>Home</a>
      </li>
    </ul>
  </div>
</div>
