<!-- <div class="page-loading">
	<img src="{{LOADER}}" alt="" />
	<span>Loading...</span>
</div> -->

<p id="test-ID" value="Applicant" style="display:none"></p>

<div class="theme-layout" id="scrollup">
	<header class="stick-top">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="https://www.krow.network/" target="_blank" title="">
						<!-- <img src="{{KROW_HEADER_2}}" alt="" /> -->
						<img src="http://placehold.it/178x40" alt="Krow Network Logo" />
					</a>
				</div><!-- Logo -->
				<div class="btn-extars">
					<a [routerLink]="['job-search']" routerLinkActive="active" class="post-job-btn"><i class="fa fa-search-plus"></i>Find Job</a>
					<ul class="account-btns">
						<li><a [routerLink]="['/logout']" routerLinkActive="active" title=""><i class="la la-external-link-square"></i> LogOut</a></li>
					</ul>
				</div><!-- Btn Extras -->
				<nav>
					<ul>
						<li>
							<a [routerLink]="['/secureHome']" routerLinkActive="active">Home</a>
						</li>
						<li>
								<!-- <a [routerLink]="['/applicant/profile-info']" routerLinkActive="active">My Applicant Profile</a> -->
								<!-- <a [routerLink]="['/employer/profile-info']" routerLinkActive="active">Switch to Employer</a> -->
								<a (click)="goToProfile()" routerLinkActive="active">Profile</a>
						</li>
						<!-- <li>
							<a style="color: #ffffff">Jobs</a>
							<ul>
								<li><a [routerLink]="['completed-jobs']" routerLinkActive="active">Completed Jobs</a></li>
								<li><a [routerLink]="['terminated-jobs']" routerLinkActive="active">Terminated Jobs</a></li>
								<li><a [routerLink]="['in-progress-jobs']" routerLinkActive="active">In-Progress Jobs</a></li>
								<li><a [routerLink]="['requested-jobs']" routerLinkActive="active">Requested Jobs</a></li>
								<li><a [routerLink]="['hire-requests']" routerLinkActive="active">Hire Requests</a></li>
							</ul>
						</li> -->
						<li>
							<a style="color: #ffffff">Jobs</a>
							<ul [hidden]="hide_applicant_links">
								<li><a [routerLink]="['/applicant/completed-jobs']" routerLinkActive="active">Completed Jobs</a></li>
								<li><a [routerLink]="['/applicant/terminated-jobs']" routerLinkActive="active">Terminated Jobs</a></li>
								<li><a [routerLink]="['/applicant/in-progress-jobs']" routerLinkActive="active">In-Progress Jobs</a></li>
								<!-- <li><a [routerLink]="['/employer/available-jobs']">Available Jobs</a></li> -->
								<li><a [routerLink]="['/applicant/requested-jobs']" routerLinkActive="active">Requested Jobs</a></li>
								<li><a [routerLink]="['/applicant/hire-requests']" routerLinkActive="active">Hire Requests</a></li>

							</ul>
							<ul [hidden]="hide_employer_links">
								<li><a [routerLink]="['/employer/completed-jobs']" routerLinkActive="active">Completed Jobs</a></li>
								<li><a [routerLink]="['/employer/terminated-jobs']" routerLinkActive="active">Terminated Jobs</a></li>
								<li><a [routerLink]="['/employer/in-progress-jobs']" routerLinkActive="active">In-Progress Jobs</a></li>
								<li><a [routerLink]="['/employer/available-jobs']" routerLinkActive="active">Available Jobs</a></li>
							</ul>
						</li>
						<li>
							<a [routerLink]="['applicant-resume']" routerLinkActive="active">Resume</a>
						</li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" class="parallax scrolly-invisible no-parallax"></div>
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header" style="padding-top:90px" id="responsive-title">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
					<div class="col-lg-1 column"></div>
					<div class="col-lg-10 column">
						<router-outlet ></router-outlet>
					</div>
					<div class="col-lg-1 column"></div>
				 </div>
			</div>
		</div>
	</section>

	<footer style="margin-top: 15px">
		<div class="block" style="padding-bottom: 0; padding-top: 25px">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 column">
						<div class="widget">
							<div class="about_widget">
								<div class="logo">
									<a href="https://www.krow.network/" target="_blank" title="">
										<!-- <img src="{{KROW_HEADER_2}}" alt="" /> -->
										<img src="http://placehold.it/178x40" alt="Krow Network Logo" />
									</a>
								</div>
								<div class="social">
									<a href="https://www.facebook.com/KrowNetwork/" 				   target="_blank" title=""><i class="fa fa-facebook"	 ></i></a>
									<a href="https://twitter.com/krownetwork"                          target="_blank" title=""><i class="fa fa-twitter" 	 ></i></a>
									<a href="https://www.reddit.com/r/Krow/" 						   target="_blank" title=""><i class="fa fa-reddit"  	 ></i></a>
									<a href="https://www.youtube.com/channel/UCmTgljCaCHkCPIbsE3IB4cA" target="_blank" title=""><i class="fa fa-youtube" 	 ></i></a>
									<a href="https://github.com/KrowNetwork/krowsite" 				   target="_blank" title=""><i class="fa fa-github"  	 ></i></a>
									<a href="https://medium.com/@krownetwork"						   target="_blank" title=""><i class="fa fa-medium" 	 ></i></a>
									<!--TODO: Figure out, and add pics for the following -->
									<a href="https://www.t.me/thekrownetwork" 						   target="_blank" title=""><i class="fa fa-telegram"    ></i>T</a>
									<a href="https://bitcointalk.org/index.php?topic=2891187.0"        target="_blank" title=""><i class="fa fa-bitcointalk" ></i>B</a>
									<a href="mailto:help@krow.network?Subject=Question" 			   target="_blank" title=""><i class="fa fa-mail"        ></i>M</a>
								</div>
							</div><!-- About Widget -->
						</div>
					</div>
					<div class="col-lg-6 column">
						<div class="widget">
							<h3 class="footer-title">Frequently Asked Questions</h3>
							<div class="link_widgets">
								<div class="row">
									<div class="col-lg-4">
										<a href="#" title="">A</a>
										<a href="#" title="">List</a>
									</div>
									<div class="col-lg-4">
										<a href="#" title="">Of</a>
										<a href="#" title="">Possible</a>
									</div>
									<div class="col-lg-4">
										<a href="#" title="">FAQ</a>
										<a href="#" title="">Links</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 column">
						<div class="widget">
							<div class="download_widget">
								<a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
								<a href="#" title=""><img src="http://placehold.it/230x65" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-line">
			<span>© 2018 Jobhunt All rights reserved. Design by Creative Layers</span>
			<a class="scrollup" title="" id="my-cool-button" (click)="scrollup()" style="bottom: 12px; right: 12px">
				<i class="la la-arrow-up"></i>
			</a>
		</div>
	</footer>
</div>
