<div>
	<div >
		<span class="close-popup" (click)="close()"><i class="la la-close" style="position: absolute;right: 20px; top: 10px;" ></i></span>
		<h3>How it Works</h3>
		<span>Step By Step Walkthrough for Job to Resume Compatibility Tool</span>
		<div class="block ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="how-works">
							<div class="how-workimg"><img src="assets/images/1.gif" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>1</span>
									<h3>Create a Job and Enter Neccessary Information</h3>
								</div>
							</div>
						</div>
						<div class="how-works flip">
							<div class="how-workimg"><img src="assets/images/2.gif" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>2</span>
									<h3>Upload your Resume Pool by Selecting them All at Once (Use a Folder)</h3>
								</div>
							</div>
						</div>
						<div class="how-works">
							<div class="how-workimg"><img src="assets/images/3.gif" alt="" /></div>
							<div class="how-work-detail">
								<div class="how-work-box">
									<span>3</span>
									<h3>Confirm, Wait a Few Minutes for Our AI to Compare, and View Compatibility between your Resumes and the Job</h3>
								</div>
							</div>
						</div>
							<!-- <div class="browse-all-cat green">
								<a href="/employer/post-jobs" title="" class="rounded">Create a Job</a>
							</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- LOGIN POPUP -->