<app-top-bar></app-top-bar>
<section class="overlape">
	<div class="block no-padding">
		<div data-velocity="-.1" class="parallax scrolly-invisible no-parallax"></div>
		<div class="container fluid">
			<div class="row">
				<div class="col-lg-12">
						<div class="inner-header" id="responsive-title">
								<h3>Resume Parser</h3>
							</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
  <div class="block no-padding">
    <div class="container">
       <div class="row no-gape">

       <div class="col-lg-12 column">
         <div class="padding-left">
           <div class="emply-resume-sec">
             <div class="emply-resume-list round">
              <div class="emply-list-sec">
                 <div class="row" id="masonry">
                   <div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
                    <img [src]="url" width="395" height="642"/>
                   </div>
                  <div class="col-lg-6 column">
                      <div>
                          <input #fileUpload type="file" (click)="fileUpload.value = null" (change)="onFileChanged($event)" style="display:none;" name="userimage">
                          <!-- <img [src]="url"> -->
                      </div>
                      <button mat-raised-button color="accent" (click)="fileUpload.click()">CHOOSE IMAGE</button>

                    <span class="pf-title"><h5>Experience</h5><button><i class="fa fa-plus" aria-hidden="true"></i></button></span>
                    <div class="pf-field">
                      <input type="textArea" placeholder="Drag any experiences directly from the resume into this box" />
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>

                    <span class="pf-title"><h5>Education</h5><button><i class="fa fa-plus" aria-hidden="true"></i></button></span>
                    <div class="pf-field">
                      <input type="textArea" placeholder="Drag any education directly from the resume into this box" />
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
             </div>
           </div>
        </div>
       </div>
    </div>
  </div>
</div>
</div>
</div>

</section>