
	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
				 	<aside class="col-lg-3 column border-right">
						<div class="widget">
				 			<div class="tree_widget-sec">
				 				<ul>
									<li class="inner-child">
				 						<a [routerLink]="['/employer/manage-jobs']" title=""><i class="la la-briefcase"></i>Manage Jobs</a>
				 					</li>
				 					<li class="inner-child">
				 						<a [routerLink]="['/employer']" title=""><i class="la la-file-text"></i>Company Profile</a>
				 					</li>
				 					<li class="inner-child">
				 						<a href="#" title=""><i class="la la-lock"></i>Settings</a>
				 					</li>
				 				</ul>
				 			</div>
				 		</div>
				 	</aside>
				 	<div class="col-lg-9 column">
				 		<div class="padding-left">
					 		<div class="profile-title">
					 			<h3>Post a New Job</h3>
					 			<div class="steps-sec">
					 				<div class="step active">
					 					<p><i class="la la-info"></i></p>
					 					<span>Enter Basic Info</span>
					 				</div>
					 				<div class="step">
					 					<p><i class="la la-file-text"></i></p>
					 					<span>Upload Resumes</span>
					 				</div>
					 				<div class="step">
					 					<p><i class="la  la-check-circle"></i></p>
					 					<span>Confirm</span>
					 				</div>
					 			</div>
					 		</div>
					 		<div class="profile-form-edit">
					 			<form>
					 				<div class="row">
					 					<div class="col-lg-12">
					 						<span class="pf-title">Job Title</span>
					 						<div class="pf-field">
					 							<input type="text" placeholder="Designer" id="title" class="title" required/>
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Short Description</span>
					 						<div class="pf-field">
					 							<textarea class="desc" placeholder="Working on tax breaks on Wall Street. Have had moderate success investing in Yugos on Wall Street. Has managed a small team buying and selling pogo sticks for farmers." required></textarea>
					 						</div>
					 					</div>

										<div class="col-lg-12">
					 						<span class="pf-title">Skill Requirements (Enter as Many as Possible for Better Results) </span>
					 						<div class="pf-field">
						 						<!-- <ul class="tags"> -->
							            			<!-- <li class="tagAdd taglist"> -->
							              				 <input class="skills" placeholder="Split by comma. Example: programming, sales, managment" type="text" id="search-field" required>
										            <!-- </li> -->
												<!-- </ul> -->
											</div>
					 					</div>

					 					<div class="col-lg-4">
					 						<span class="pf-title">Job Type</span>
					 						<div class="pf-field">
					 							<select data-placeholder="Please Select a Type" class="chosen job_type">
													<option>Full-Time</option>
													<option>Part-Time</option>
													<option>Freelancing</option>
													<option>Internship/Co-Op</option>
													<option>Other</option>
												</select>
					 						</div>
					 					</div>

					 					<div class="col-lg-4">
					 						<span class="pf-title">Experience Level</span>
					 						<div class="pf-field">
					 							<select data-placeholder="Please Select Experience Level" class="chosen exp_lvl">
													<option>High</option>
													<option>Medium</option>
													<option>Low</option>
													<option>N/A</option>
												</select>
					 						</div>
										 </div>
										 <div class="col-lg-4">
											<span class="pf-title">Expiration Date</span>
											<div class="pf-field">
												<input class="date" type="date">
											</div>
										</div>

					 					<div class="col-lg-12">
					 						<span class="pf-title">Job Location</span>
											<div class="pf-field">
					 							<input class="location" type="text" placeholder="New York City" required/>
					 						</div>
					 					</div>

					 				</div>
					 			</form>
					 		</div>
					 		<div class="contact-edit">
					 			<form>

					 					<div class="col-lg-12">
					 						<button id="submitBtn" (click)="submitHandler()">Next</button>
					 					</div>
					 			</form>
					 		</div>
					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>
