<div *ngIf="errorMessage!=null" class="alert alert-danger" style="margin: 15px">
    <i class="la la-exclamation"></i>
    {{ errorMessage }}
</div>

<div class="padding-left">
    <div class="social-edit" id="sn">
        <h3 style="border-top: 0px" (click)="handleClicked($event)">
            <i class="fa fa-toggle-down" style="padding-right:10px"></i>Description
        </h3>
        <div class="col-lg-12" style="display: none">
            <div class="col-lg-12" class="resumeContainer">
                <div class="col-lg-12"> 
                    <div class="social-edit" id="sn">
                        <form style="padding-left:0px; border-style: solid;
                            border-width: 1px;
                            border-color: #edeff7;
                            border-radius: 8px;
                            margin-bottom: 15px">
                            <div class="edu-history-sec">
                                <div class="edu-history">
                                    <i class="la la-check-square" style="padding-top: 30px"></i>
                                    <div class="edu-hisinfo">
                                        <div class="row" style="padding:15px; padding-bottom:0px">
                                            <div class="col-lg-12">
                                                <span class="pf-title" style="margin-top:0px">Title</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Coolest Job Ever" secret="title"
                                                        [(ngModel)]="title" [ngModelOptions]="{standalone: true}"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="pf-title" style="margin-top:0px">Description</span>
                                                <div class="pf-field">
                                                    <textarea style="padding: 15px" rows="20" type="text" placeholder="Cool Description" secret="description"
                                                        [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                    <span class="pf-title" style="margin-top:0px">Contract</span>
                                                    <div class="pf-field">
                                                        <textarea style="padding: 15px" rows="20" type="text" placeholder="This serves as a legally binding employment contract" secret="contract"
                                                            [(ngModel)]="contract" [ngModelOptions]="{standalone: true}"></textarea>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="padding-left">
    <div class="social-edit" id="sn">
        <h3 (click)="handleClicked($event)">
            <i class="fa fa-toggle-down" style="padding-right:10px"></i>Info
        </h3>
        <div class="col-lg-12" style="display: none">
            <div class="col-lg-12" class="resumeContainer">
                <div class="col-lg-12"> 
                    <div class="social-edit" id="sn">
                        <form style="padding-left:0px; border-style: solid;
                            border-width: 1px;
                            border-color: #edeff7;
                            border-radius: 8px;
                            margin-bottom: 15px">
                            <div class="edu-history-sec">
                                <div class="edu-history">
                                    <i class="la la-info" style="padding-top: 30px"></i>
                                    <div class="edu-hisinfo">
                                        <div class="row" style="padding:15px; padding-bottom:0px">
                                            <div class="col-lg-12">
                                                <span class="pf-title" style="margin-top:0px">Location</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="New Jersey" secret="title"
                                                        [(ngModel)]="blank" [ngModelOptions]="{standalone: true}"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title" style="margin-top:0px">Job Type</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="ENTRY_LEVEL" secret="title"
                                                        [(ngModel)]="jobType" [ngModelOptions]="{standalone: true}" list="jobTypeList" />
                                                    <datalist id="jobTypeList">
                                                        <option>ENTRY_LEVEL</option>
                                                        <option>INTERMEDIATE_LEVEL</option>
                                                        <option>SENIOR_LEVEL</option>
                                                        <option>INTERNSHIP</option>
                                                        <option>FREELANCE</option>
                                                    </datalist>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="pf-title" style="margin-top:0px">Tags</span>
                                                <div class="pf-field no-margin">
                                                    <ul class="tags" id="ulTags" style="margin-bottom: 15px">
                                                        <li class="tagAdd taglist" id="lastNode" style="margin-top: 5px">
                                                            <input type="text" id="search-field" placeholder="DOES NOT WORK YET" 
                                                            (keyup)="$event.keyCode == 13 ? submitHandler($event) : null" disabled>
                                                            <!-- Web Design -->
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      
<div class="padding-left">
    <div class="social-edit" id="sn">
        <h3 (click)="handleClicked($event)">
            <i class="fa fa-toggle-down" style="padding-right:10px"></i>Payment
        </h3>
        <div class="col-lg-12" style="display: none">
            <div class="col-lg-12" class="resumeContainer">
                <div class="col-lg-12"> 
                    <div class="social-edit" id="sn">
                        <form style="padding-left:0px; border-style: solid;
                            border-width: 1px;
                            border-color: #edeff7;
                            border-radius: 8px;
                            margin-bottom: 15px">
                            <div class="edu-history-sec">
                                <div class="edu-history">
                                    <i class="la la-money" style="padding-top: 30px"></i>
                                    <div class="edu-hisinfo">
                                        <div class="row" style="padding:15px; padding-bottom:0px">
                                            <div class="col-lg-6">
                                                <span class="pf-title" style="margin-top:0px">Payment Amount</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="999.99" secret="title"
                                                        [(ngModel)]="payment" [ngModelOptions]="{standalone: true}"/>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <span class="pf-title" style="margin-top:0px">Payment Type</span>
                                                <div class="pf-field">
                                                    <input type="text" placeholder="Hourly" secret="title"
                                                        [(ngModel)]="paymentType" [ngModelOptions]="{standalone: true}" list="paymentTypeList" />
                                                    <datalist id="paymentTypeList">
                                                        <option>ONETIME</option>
                                                        <option>HOURLY</option>
                                                        <option>DAILY</option>
                                                        <option>WEEKLY</option>
                                                        <option>BIWEEKLY</option>
                                                        <option>MONTHLY</option>
                                                        <option>NONE</option>
                                                        <option>OTHER</option>
                                                    </datalist>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="block remove-bottom" style="padding-top: 15px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-popup-area signin-popup-box static">
                        <div class="account-popup" style="
                            left: auto;
                            margin: 0;
                            width: 100%">	
                            <form style="margin-top: 0; width: 100%">
                                <button (click)="submitJob()" style="margin-top: 0">POST JOB</button>
                            </form>
                            <div *ngIf="msg!==undefined" class="alert">
                                <i class="la la-exclamation"></i>
                                {{ msg }}
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>