<!-- <div class="padding-left">
    <div class="social-edit"  id="sn">
      <h3 id="app-responsive-component-profile"></h3>
        <div class="row">
          <div id="app-responsive-component-profile-jobs" class="col-lg-6">
            <span class="pf-title"></span>
            <div class="pf-field">
              
            </div>
          </div>
        </div>
    </div>
  </div> -->
  <div class="main-featured-sec">
      <h3 id="app-responsive-component-profile"></h3>
        <div class="row">
          <div id="app-responsive-component-profile-jobs">
          <!-- <div id="app-responsive-component-profile-jobs" class="col-lg-6"> -->
            <ul>
                <li *ngFor="let item of requested_jobs; let myIndex = index" class="job-listing">
                  <a [routerLink]="['/job/', requested_jobs[myIndex].jobID]">
                    <p class="job-title-sec">Title: {{requested_jobs[myIndex].title}}</p>
                  </a>
                </li>
            </ul>
          </div>
  </div>
  <div [hidden]="has_jobs">
      <h3>No Jobs Available</h3>
  </div>
</div>