<div class="col-lg-12"  class="resumeContainer">
  <div class="col-lg-12">
    <div class="pf-field no-margin">
      <ul class="tags" id="ulTags" style="margin-bottom: 15px">
        <li class="tagAdd taglist" id="lastNode" style="margin-top: 5px">
          <input 
            type="text" 
            id="search-field" 
            placeholder="Web Design" 
            (keydown)="changeHandler($event)"
            (keyup)="$event.keyCode == 13 ? submitHandler($event) : null">
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-12">
    <a class="post-job-btn" style="margin-bottom: 15px; display: none" (click)="updateResume($event)">UPDATE</a>
  </div>
</div>