h3:hover {
    background-color: #fb236a;
    padding-left:46px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    border-top: 1px solid #edeff7;
    border-bottom: 0px;
}