<div class="row" (click)="handleClicked($event)">
  <div class="social-edit"  id="sn">
    <h3>Education</h3>
    <div class="col-lg-12" style="display: none">
      <app-resume-education></app-resume-education>
    </div>
  </div>
</div>

<div class="row" (click)="handleClicked($event)">
  <div class="social-edit"  id="sn">
    <h3>Experience</h3>
    <div class="col-lg-12" style="display: none">
      <app-resume-experience></app-resume-experience>
    </div>
  </div>
</div>

<div class="row" (click)="handleClicked($event)">
  <div class="social-edit"  id="sn">
    <h3>Affiliations</h3>
    <div class="col-lg-12" style="display: none">
      <app-resume-affiliations></app-resume-affiliations>
    </div>
  </div>
</div>

<div class="row" (click)="handleClicked($event)">
  <div class="social-edit"  id="sn">
    <h3>Skills</h3>
    <div class="col-lg-12" style="display: none">
      <app-resume-skills></app-resume-skills>
    </div>
  </div>
</div>

<div class="row" (click)="handleClicked($event)">
  <div class="social-edit"  id="sn">
    <h3>Achievements</h3>
    <div class="col-lg-12" style="display: none">
      <app-resume-achievements></app-resume-achievements>
    </div>
  </div>
</div>