
<div class="row">
  <div class="col-lg-8">
      <!-- <section class="calendar"> -->
          <div class="month">      
              <ul>
                <li class="prev">&#10094;</li>
                <li class="next">&#10095;</li>
                <li>
                  August<br>
                  <span style="font-size:18px">2017</span>
                </li>
              </ul>
            </div>
            
            <ul class="weekdays">
              <li>Mo</li>
              <li>Tu</li>
              <li>We</li>
              <li>Th</li>
              <li>Fr</li>
              <li>Sa</li>
              <li>Su</li>
            </ul>
            
            <ul class="days">  
              <li *ngFor="let _ of blank">
                
              </li>
              <a (click)="reveal($event)" *ngFor="let item of count; let i = index">
                <li id="{{ i + 1 }}">{{ i + 1 }}</li>
              </a>        
              
            </ul>
            
            <!-- </section> -->
            
  </div>
  <div class="col-lg-4 details">
      <h3>pen</h3>

  </div>
  
</div>
