<div class="padding-left">
    <button (click)="buttonPressed($event)"  id="top" [hidden]="hide_employer_buttons">Edit</button>
    <button (click)="apply($event)"  id="top" [hidden]="hide_apply">Apply</button>
    <button (click)="delete()"  id="top" [hidden]="hide_employer_buttons">Delete Job</button>
    <button (click)="acceptJob()"  id="top" [hidden]="hide_accept">Accept Job</button>
    <button (click)="viewEmployer()"  id="top" [hidden]="hide_view_employer">View Employer</button>
    <div *ngIf="msg!==undefined" class="alert">
        <i class="la la-exclamation"></i>
        {{ msg }}
    </div>
    <h3 id="app-responsive-component-profile"></h3>
  <div class="social-edit"  id="sn">
      
    <form>
      <div class="row">
        <div id="app-responsive-component-profile-first" class="col-lg-6">
          <span class="pf-title"></span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="" id="text"
              [(ngModel)]="title" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-user"></i>
          </div>
        </div>
        <div id="app-responsive-component-profile-second" class="col-lg-12">
          <span class="pf-title"></span> 
          <div class="pf-field">
            <textarea style="padding: 15px" rows="20" type="text" placeholder="Cool Description" secret="description"
              [(ngModel)]="description" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"></textarea>
            <!-- <input (keydown)="changeHandler($event)" type="text" placeholder="" id=""
              [(ngModel)]="description" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/> -->
            <i class="la la-users"></i>
          </div>
        </div>
        <div id="app-responsive-component-profile-third" class="col-lg-12">
          <span class="pf-title"></span> 
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="" id=""
              [(ngModel)]="tags" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-users"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="display:none; padding:0">
        <a (click)="buttonPressed($event)" class="post-job-btn" style="float:right" ng-disabled="false">UPDATE</a>
      </div>
    </form>
  </div>
  <div class="social-edit"  id="sn">
    <form>
      <div class="row">
        <div class="col-lg-6">
          <span class="pf-title">Location</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="text" placeholder="4632 1/2 Hollywood Boulevard" 
              [(ngModel)]="location" [ngModelOptions]="{standalone: true}" id="location" [disabled]="is_disabled()"/>
            <i class="la la-map-marker"></i>   
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="display:none; padding:0">
        <a (click)="buttonPressed($event)" class="post-job-btn" style="float:right" ng-disabled="false">UPDATE</a>
      </div>
    </form>
  </div>
  <div class="social-edit"  id="sn">
    <h3>Dates</h3>
    <form>
      <div class="row" id="app-responsive-social-div">
        <div class="col-lg-6">
          <span class="pf-title">Date Posted</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="date" 
              id="created" [(ngModel)]="created" [ngModelOptions]="{standalone: true}" [disabled]="always_disabled()"/>
            <i class="la la-date"></i>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="pf-title">Last Updated</span>
          <div class="pf-field">
            <input (keydown)="changeHandler($event)" type="date" 
              id="lastUpdated" [(ngModel)]="lastUpdated" [ngModelOptions]="{standalone: true}" [disabled]="is_disabled()"/>
            <i class="la la-twitter"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="display:none; padding:0">
        <a (click)="buttonPressed($event)" class="post-job-btn" style="float:right" ng-disabled="false">UPDATE</a>
      </div>
    </form>
  </div>
  <div class="social-edit"  id="sn" *ngIf="show_employee">
      <h3>Employee</h3>
      <ul class="applicants">
          <li class="job-listing">
            <!-- <a  > -->
              <p class="job-title-sec" >Employee Name: {{employee.firstName}} {{employee.lastName}}</p>
              <button (click)="goToProfile(employee.applicantID)">View Profile</button>
          </li>
        </ul>
    </div>
  <div class="social-edit"  id="sn" *ngIf="show_applicants">
      <h3>Applicants</h3>
      <ul class="applicants">
          <li *ngFor="let item of applicant_data; let myIndex = index" class="job-listing">
            <!-- <a  > -->
              <p class="job-title-sec" >Applicant Name: {{applicant_data[myIndex].firstName}} {{applicant_data[myIndex].lastName}}</p>
              <button (click)="goToProfile(applicant_data[myIndex].applicantID)">View Profile</button>
          </li>
        </ul>
    </div>
  <div class="social-edit"  id="sn" *ngIf="show_denied_applicants">
      <h3>Denied Applicants</h3>
      <ul class="deniedApplicants">
          <li *ngFor="let item of denied_applicant_data; let myIndex = index" class="job-listing">
            <!-- <a  > -->
              <p class="job-title-sec" >Applicant Name: {{denied_applicant_data[myIndex].firstName}} {{denied_applicant_data[myIndex].lastName}}</p>
              <button (click)="goToProfile(denied_applicant_data[myIndex].applicantID)">View Profile</button>
          </li>
        </ul>
    </div>
</div>