<section>
    <div class="block">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 column">
            <div class="job-single-sec style3">
              <div class="job-head-wide">
                <div class="row">
                  <div class="col-lg-8">
                      <div *ngIf="msg != undefined">
                          <span>{{ msg }}</span>
                      </div>
                    <div class="job-single-head3">
                      <!-- <div class="job-thumb"> <img src="http://placehold.it/120x95" alt="" /><span>12 Open Position</span> </div> -->
                      <div class="job-single-info3">
                        <h3>{{ title }}</h3>
                        <span><i class="la la-map-marker"></i>{{ location }}</span>
                        <ul class="tags-jobs">
                          <!-- <li><i class="la la-file-text"></i> Applications 1</li> -->
                          <li><i class="la la-calendar-o"></i> Post Date: {{ created }}</li>
                          <li><i *ngIf="started" class="la la-calendar-o"></i> Start Date: {{ startdate }}</li>
                          <li><i *ngIf="ended" class="la la-calendar-o"></i> End Date: {{ enddate }}</li>

                          <!-- <li><i class="la la-eye"></i> Views 5683</li> -->
                        </ul>
                      </div>
                    </div><!-- Job Head -->
                  </div>
                  <div class="col-lg-4">
                    <a *ngIf="canEdit" class="apply-thisjob" (click)="goToEdit()" title="" style="margin-top: 5px;"><i class="la la-pencil"></i>Edit this job</a>
                    <a *ngIf="canAcceptJob" class="apply-thisjob" (click)="openNewDialog()" title="" style="margin-top: 5px;"><i class="la la-check"></i>Accept this job</a>
                    <a *ngIf="!canEdit && canApply" class="apply-thisjob" (click)="apply(event)" title="" style="margin-top: 5px;"><i class="la la-paper-plane"></i>Apply for job</a>
                    <a *ngIf="!canEdit && canDeApply" class="apply-thisjob" (click)="deapply($event)" title="" style="margin-top: 5px;"><i class="la la-close"></i>Remove Application</a>
                    <a class="apply-thisjob" (click)="viewEmp()" title="" style="margin-top: 5px; margin-bottom: 5px"><i class="la la-eye"></i>View Employer</a>
                    <!-- <div class="apply-alternative">
                      <a href="#" title=""><i class="la la-linkedin"></i> Apply with Linkedin</a>
                      <span><i class="la la-heart-o"></i> Shortlist</span> apply($event)
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="job-wide-devider">                
                <div class="row">
                  <div class="col-lg-8 column">		
                    <div class="job-details">
                      <h3>Job Description</h3>
                      <span id="job-details"></span>
                    </div>
                    <div class="share-bar">
                      <span>Share</span><a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                    <!-- <div class="extra-job-info">
                      <span><i class="la la-clock-o"></i><strong>35</strong> Days</span>
                      <span><i class="la la-file-text"></i><strong>300-500</strong> Application</span>
                      <span><i class="la la-search-plus"></i><strong>35697</strong> Displayed</span>
                    </div> -->

                    <div class="social-edit" id=sn *ngIf="!canApply && hasEmp">
                      <h3>Employee</h3>
                    <div class="job-list-modern">
                        <div class="job-listings-sec no-border">
                          <div *ngIf="!canApply" class="job-listing wtabs">
                            <div class="job-title-sec" >
                              <!-- <div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div> -->
                              <h3><a href="#" title="">{{ employee.firstName }} {{ employee.lastName }}</a></h3>
                              <!-- <span>{{ item.employerName }}</span> -->
                              <!-- <div class="job-lctn"><i class="la la-map-marker"></i>{{  }}</div> -->
                              <span *ngIf="isOwner && requestCompleteB" style="color:red">The employee has requested completion on thier job</span>
                              <div class="btn-group" *ngIf="isOwner && requestCompleteB" style="margin-top:10px">
                                
                                <button *ngIf="isOwner && requestCompleteB" style="display: inline; padding: 10px;" (click)="complete()">Complete</button>
                                <button *ngIf="isOwner && requestCompleteB" style="display: inline; padding: 10px;" (click)="denyCompletion()">Deny</button>
                              </div>
                            </div>
                                  
                            <!-- <div class="job-style-bx"> -->
                              <!-- <span class="job-is ft ">Full time</span>
                              <span class="fav-job"><i class="la la-heart-o"></i></span>
                              <i>5 months ago</i> -->
                              <div class="job-style-bx btn-group">
                                  <button [routerLink]="['/applicant/profile-info/', employee.applicantID]">View</button>
                                  <!-- <button style="display: inline; padding: 10px; color:#00ff6a" (click)="requestToHire(app.applicantID)"><i class="la la-check"></i></button> -->
                                  <button *ngIf="isOwner" style="display: inline; padding: 10px;" (click)="firep1()">Fire</button>
                                  
                              </div>
                             
                                
                            <!-- </div>  -->
                          </div>
                          <div *ngIf="confirmFire" class="pf-field">
                              <input type="text" placeholder="Reason" id="reason"
                              [(ngModel)]="reason" [ngModelOptions]="{standalone: true}"/>
                              <button (click)="firep2()">Confirm</button>
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="social-edit" id=sn *ngIf="isOwner">
                      <h3>Applicants</h3>
                    <div class="job-list-modern">
                        <div class="job-listings-sec no-border">
                          <div class="job-listing wtabs" *ngFor="let app of applicant_data; let i = index">
                            <div class="job-title-sec" >

                              <h3><a href="#" title="">{{ app.firstName }} {{ app.lastName }}</a></h3>

                              <div class="job-style-bx btn-group">
                                  <button [routerLink]="['/applicant/profile-info/', app.applicantID]">View</button>
                                  <button style="display: inline; padding: 10px; color:#00ff6a" (click)="requestToHire(app.applicantID)"><i class="la la-check"></i></button>
                                  <button style="display: inline; padding: 10px; color:#f44242" (click)="denyApplicantp1(app.applicantID)"><i class="la la-close"></i></button>
                                </div> 
                            </div>
                                  
                            
                          </div>
                          <div *ngIf="confirmDeny" class="pf-field">
                            <input type="text" placeholder="Reason" id="reason"
                            [(ngModel)]="reason" [ngModelOptions]="{standalone: true}"/>
                            <button (click)="denyApplicantp2()">Confirm</button>
                        </div>
                        </div>
                    </div>
                  </div>

                  <div class="social-edit" id=sn *ngIf="isOwner">
                      <h3>Hire Requests</h3>
                    <div class="job-list-modern">
                        <div class="job-listings-sec no-border">
                          <div class="job-listing wtabs" *ngFor="let app of h_data; let i = index">
                            <div class="job-title-sec" >

                              <h3><a href="#" title="">{{ app.firstName }} {{ app.lastName }}</a></h3>

                              <div class="job-style-bx btn-group">

                                  <button [routerLink]="['/applicant/profile-info/', app.applicantID]">View</button>
                                  <button style="display: inline; padding: 10px; " (click)="unRequestHire(app.applicantID)"><i class="la la-close"></i></button>
                                  <!-- <button style="display: inline; padding: 10px; " (click)="requestToHire()"><i class="la la-close"></i></button> -->
                                </div> 
                            </div>
                                  
                            
                          </div>
                        </div>
                    </div>
                  </div>

                  <div class="social-edit" id=sn *ngIf="isOwner">
                    <h3>Denied Applicants</h3>
                  <div class="job-list-modern">
                      <div class="job-listings-sec no-border">
                        <div class="job-listing wtabs" *ngFor="let app of denied; let i = index">
                          <div class="job-title-sec" >

                            <h3><a href="#" title="">{{ app.firstName }} {{ app.lastName }}</a></h3>

                            <div class="job-style-bx btn-group">

                                <button [routerLink]="['/applicant/profile-info/', app.applicantID]">View</button>
                                <!-- <button style="display: inline; padding: 10px; " (click)="requestToHire(app.applicantID)"><i class="la la-check"></i></button>
                                <button style="display: inline; padding: 10px; " (click)="requestToHire()"><i class="la la-close"></i></button> -->
                              </div> 
                          </div>
                                
                          
                        </div>
                      </div>
                  </div>
                </div>

                  </div>
                  <div class="col-lg-4 column">
                    <div class="job-overview">
                      <h3>Job Overview</h3>
                      <ul>
                        <li><i class="la la-money"></i><h3>Offered Salary</h3><span>${{ payment }} {{ paymentType }}</span><button *ngIf="isOwner" (click)="changeSalaryP1()">Change</button></li>
                        <!-- <li><i class="la la-mars-double"></i><h3>Gender</h3><span>Female</span></li> -->
                        <div *ngIf="canChangeSalary" class="pf-field">
                          <input type="text" placeholder="999.99" id="salary"
                          [(ngModel)]="salary" [ngModelOptions]="{standalone: true}"/>
                          <button (click)="changeSalaryP2()">Confirm</button>
                        </div>
                        <li><i class="la la-thumb-tack"></i><h3>Job Level</h3><span>{{ jobType }}</span></li>
                        
                        
                        <!-- <li><i class="la la-puzzle-piece"></i><h3>Industry</h3><span>Management</span></li> -->
                        <!-- <li><i class="la la-shield"></i><h3>Experience</h3><span>2 Years</span></li> -->
                        <!-- <li><i class="la la-line-chart "></i><h3>Qualification</h3><span>Bachelor Degree</span></li> -->
                      </ul>
                    </div><!-- Job Overview -->
                    <div *ngIf="isTheApplicant && ended == false">
                          <a  class="apply-thisjob check" (click)="requestComplete()" title="" style="margin-top: 5px;"><i class="la la-check"></i>Request Completion</a>
                          <a  class="apply-thisjob cclose" (click)="resignp1()" title="" style="margin-top: 5px;"><i class="la la-close"></i>Resign Job</a>
                          <div *ngIf="confirmResign" class="pf-field">
                              <input type="text" placeholder="Reason" id="reason"
                              [(ngModel)]="reason" [ngModelOptions]="{standalone: true}"/>
                              <button (click)="resignp2()">Confirm</button>
                          </div>
                          
                          <!-- <a class="apply-thisjob" (click)="viewEmp()" title="" style="margin-top: 5px; margin-bottom: 5px;"><i class="la la-eye"></i>View Employer</a> -->
                    </div>
                    <!-- <div class="quick-form-job">
                      <h3>Contact</h3>
                      <form>
                        <input type="text" placeholder="Enter your Name *" />
                        <input type="text" placeholder="Email Address*" />
                        <input type="text" placeholder="Phone Number" />
                        <textarea placeholder="Message should have more than 50 characters"></textarea>
                        <button class="submit">Send Email</button>
                        <span>You accepts our <a href="#" title="">Terms and Conditions</a></span>
                      </form>
                    </div> -->
                  </div>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  




